@keyframes slide-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateZ(160px);
    opacity: 1;
  }
}
@keyframes swing-bottom-fwd {
  0% {
    transform: rotateX(-180deg);
    transform-origin: bottom;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.prewie {
  overflow: hidden;
  display: flex;
  padding-top: 87px;
  padding-bottom: 137px;
  gap: 20px;
}
.prewie__info {
  position: relative;
}
.prewie__info_redCircle {
  position: absolute;
  z-index: -2;
  width: 551px;
  height: 551px;
  background-color: #FA7515;
  border-radius: 100%;
  filter: blur(110px);
  opacity: 13%;
  top: -65px;
  left: -75px;
}
.prewie__info_header {
  opacity: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: -3px;
  color: #1D1E25;
}
.prewie__info_header.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
}
.prewie__info_slogan {
  opacity: 0;
  padding-top: 114px;
  padding-bottom: 69px;
  width: 80%;
  padding-left: 100px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.prewie__info_slogan.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
}
.prewie__info_slogan::before {
  content: "";
  position: absolute;
  left: 0;
  top: 135px;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.prewie__info_buttonWrapper {
  display: flex;
  gap: 16px;
  opacity: 0;
}
.prewie__info_buttonWrapper.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}
.prewie__info_buttonWrapper_email {
  padding-right: 118px;
  padding-bottom: 23px;
  border: none;
  border-bottom: 1px solid #CED1D8;
  background: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7E8492;
}
.prewie__info_buttonWrapper_button {
  cursor: pointer;
  padding: 16px 46px;
  background-color: #1D1E25;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100px;
}
.prewie__graphics {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 29px;
  justify-content: flex-end;
}
.prewie__graphics_greenCircle {
  position: absolute;
  z-index: -1;
  width: 525px;
  height: 525px;
  left: 24%;
  top: 19%;
  background: rgba(177, 237, 215, 0.8);
  filter: blur(90px);
  border-radius: 100%;
}
.prewie__graphics_sales {
  opacity: 0;
  box-shadow: 20px 40px 80px rgba(89, 96, 135, 0.12);
}
.prewie__graphics_sales.animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.prewie__graphics_customerGrowth {
  opacity: 0;
  position: absolute;
  bottom: 330px;
  left: 320px;
  box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);
}
.prewie__graphics_customerGrowth.animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.prewie__graphics_statistic {
  opacity: 0;
  box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);
}
.prewie__graphics_statistic.animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}

.ourOffers {
  background: #1D1E25;
  padding-top: 100px;
  padding-bottom: 100px;
}
.ourOffers__title {
  opacity: 0;
  width: 60%;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #FFFFFF;
}
.ourOffers__title.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.ourOffers__article {
  opacity: 0;
  width: 53%;
  margin-top: 24px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #7E8492;
}
.ourOffers__article.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.ourOffers__list {
  display: grid;
  grid-template-columns: repeat(2, 481px);
  justify-content: space-between;
  gap: 56px;
}
.ourOffers__list_listElement {
  opacity: 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.ourOffers__list_listElement.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}
.ourOffers__list_listElement:nth-child(2n).animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) var(--delay, 0s) both;
}
.ourOffers__list_listElement_title {
  width: 51%;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #FFFFFF;
}
.ourOffers__list_listElement_article {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}

.advantages {
  display: flex;
  padding-top: 160px;
  padding-bottom: 94px;
  gap: 58px;
}
.advantages__photoWrapper {
  opacity: 0;
  position: relative;
}
.advantages__photoWrapper.animated {
  animation: slide-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.advantages__photoWrapper_barChart {
  position: absolute;
  left: 259px;
  top: 313px;
}
.advantages__wrapper {
  opacity: 0;
}
.advantages__wrapper.animated {
  animation: swing-bottom-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.advantages__wrapper_title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.advantages__wrapper_article {
  max-width: 360px;
  margin-top: 24px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.advantages__wrapper_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 400px;
}
.advantages__wrapper_list .advantages__list_element {
  opacity: 0;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #1D1E25;
  position: relative;
  margin-left: 40px;
}
.advantages__wrapper_list .advantages__list_element.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.advantages__wrapper_list .advantages__list_element:nth-child(2n).animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.advantages__wrapper_list .advantages__list_element::before {
  content: url("../../../../public/availableListMarker.svg");
  margin-right: 16px;
  position: absolute;
  top: 22px;
  left: -40px;
}

.growthWithUs {
  margin-top: 66px;
  margin-bottom: 160px;
}
.growthWithUs__info {
  display: flex;
  gap: 143px;
}
.growthWithUs__info_element {
  opacity: 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: relative;
}
.growthWithUs__info_element_title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #1D1E25;
}
.growthWithUs__info_element_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.growthWithUs__info_element.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}
.growthWithUs__info_element:not(:first-child):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 99px;
  background-color: #CED1D8;
  bottom: 30px;
  left: -72px;
}
.growthWithUs__photo {
  opacity: 0;
  margin-top: 80px;
  margin-bottom: 80px;
}
.growthWithUs__photo.animated {
  animation: fade-in 1.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.growthWithUs__quote {
  display: flex;
  gap: 177px;
}
.growthWithUs__quote_title {
  opacity: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.growthWithUs__quote_title.animated {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.growthWithUs__quote_article {
  opacity: 0;
  max-width: 420px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.growthWithUs__quote_article.animated {
  animation: slide-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.partners {
  padding-top: 103px;
  padding-bottom: 103px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.partners.showBorder::before {
  content: "";
  background-color: #EDEDED;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  top: 0px;
}
.partners.showBorder::after {
  content: "";
  background-color: #EDEDED;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  bottom: 0px;
}
.partners__info {
  display: flex;
  flex-direction: column;
  max-width: 323px;
}
.partners__info_title {
  opacity: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.partners__info_title.animated {
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.partners__info_article {
  opacity: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.partners__info_article.animated {
  animation: slide-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}
.partners__logos {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  justify-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 0;
}
.partners__logos_logo {
  opacity: 0;
  padding: 31px 33px;
}
.partners__logos_logo.animated:nth-child(-n+4) {
  animation: slide-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}
.partners__logos_logo.animated {
  animation: slide-left 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}

.benefits {
  margin-top: 160px;
  margin-bottom: 100px;
}
.benefits__title {
  opacity: 0;
  max-width: 601px;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.benefits__title.animated {
  animation: slide-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.benefits__article {
  opacity: 0;
  margin-top: 24px;
  margin-bottom: 80px;
  max-width: 462px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.benefits__article.animated {
  animation: slide-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 568px);
  row-gap: 56px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.benefits__list_listEl {
  opacity: 0;
  display: flex;
  gap: 60px;
}
.benefits__list_listEl.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}
.benefits__list_listEl:nth-child(2n).animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) var(--delay, 0s) both;
}
.benefits__list_listEl .benefits__listEl_pictures {
  position: relative;
}
.benefits__list_listEl .benefits__listEl_pictures .listEl__pictures_icon {
  position: absolute;
  right: 10px;
  top: 12px;
}
.benefits__list_listEl .benefits__listEl_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.benefits__list_listEl .benefits__listEl_info .listEl_info_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.benefits__list_listEl .benefits__listEl_info .listEl_info_article {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}

.trandingNews {
  padding-top: 60px;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trandingNews__title {
  opacity: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.trandingNews__title.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.trandingNews__article {
  opacity: 0;
  padding-top: 24px;
  padding-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.trandingNews__article.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}
.trandingNews__wrapper {
  opacity: 0;
  display: flex;
  gap: 32px;
  position: relative;
}
.trandingNews__wrapper.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s both;
}
.trandingNews__wrapper_itemWrapper_publishData {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.trandingNews__wrapper_itemWrapper_publishData_dateOfPublication {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7E8492;
}
.trandingNews__wrapper_itemWrapper_publishData_author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7E8492;
}
.trandingNews__wrapper_itemWrapper_title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1D1E25;
}
.trandingNews__wrapper_itemWrapper_nav {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 47%;
  bottom: 50%;
  background-color: #fff;
  padding: 33px 27px;
  border-radius: 100%;
}
.trandingNews__wrapper_itemWrapper_nav_button {
  position: absolute;
  width: 20px;
  height: 40px;
  background: none;
  border: none;
}
.trandingNews__wrapper_itemWrapper_nav_button.left {
  left: 21px;
  top: 22px;
}
.trandingNews__wrapper_itemWrapper_nav_button.right {
  left: 42px;
  top: 22px;
}
.trandingNews__wrapper_emptyNews {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
.trandingNews__wrapper_emptyNews .wrapper__emptyNews_title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}

.rewies {
  padding-top: 69px;
  padding-bottom: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.rewies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rewies__header_title {
  opacity: 0;
  width: 40%;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #101010;
}
.rewies__header_title.animated {
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.rewies__header_article {
  opacity: 0;
  width: 30%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.rewies__header_article.animated {
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
}
.rewies__emptyRewies {
  opacity: 0;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #1D1E25;
}
.rewies__emptyRewies.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.rewies__rewieWrapper {
  opacity: 0;
  padding-top: 112px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.rewies__rewieWrapper.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.1s both;
}
.rewies__rewieWrapper .rewies__watermarkWrapper {
  position: relative;
}
.rewies__rewieWrapper .rewies__watermarkWrapper_watermark {
  position: absolute;
  bottom: -12px;
  left: -25%;
}
.rewies__rewieWrapper_rating {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}
.rewies__rewieWrapper_rewieText {
  padding-top: 16px;
  padding-bottom: 40px;
  width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -1px;
  color: #1D1E25;
}
.rewies__rewieWrapper_footer {
  display: flex;
  justify-content: space-between;
}
.rewies__rewieWrapper_footer_author {
  display: flex;
  gap: 24px;
}
.rewies__rewieWrapper_footer_author_authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.rewies__rewieWrapper_footer_author_authorInfo_name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #1D1E25;
}
.rewies__rewieWrapper_footer_author_authorInfo_position {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}
.rewies__rewieWrapper_footer_buttonWrapper {
  display: flex;
  gap: 16px;
}
.rewies__rewieWrapper_footer_buttonWrapper_button {
  padding: 19px 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
.rewies__rewieWrapper_footer_buttonWrapper_button.left {
  background-color: #fff;
  border: 1px solid #CED1D8;
}
.rewies__rewieWrapper_footer_buttonWrapper_button.right {
  background-color: #1D1E25;
  border: 1px solid #1D1E25;
}

@media (max-width: 1025px) {
  .prewie {
    padding-top: 70px;
    padding-bottom: 125px;
  }
  .prewie__info_redCircle {
    width: 450px;
    height: 450px;
  }
  .prewie__info_header {
    font-weight: 600;
    font-size: 65px;
    line-height: 110%;
  }
  .prewie__info_slogan {
    padding-top: 90px;
    font-size: 25px;
    line-height: 40px;
  }
  .prewie__info_slogan::before {
    top: 110px;
  }
  .prewie__info_buttonWrapper {
    display: flex;
    gap: 16px;
  }
  .prewie__info_buttonWrapper_email {
    padding-right: 90px;
  }
  .prewie__info_buttonWrapper_button {
    padding: 16px 30px;
  }
  .prewie .prewie__graphics_greenCircle {
    width: 450px;
    height: 450px;
  }
  .ourOffers__title {
    font-size: 45px;
  }
  .ourOffers__article {
    font-size: 15px;
  }
  .ourOffers__list {
    grid-template-columns: repeat(2, 360px);
  }
  .ourOffers__list_listElement {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
  }
  .ourOffers__list_listElement_title {
    width: 58%;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0;
  }
  .advantages__photoWrapper_photo {
    width: 390px;
  }
  .advantages__photoWrapper_barChart {
    width: 200px;
    left: 43%;
    top: 34%;
  }
  .growthWithUs {
    margin-bottom: 130px;
  }
  .growthWithUs__info {
    gap: 100px;
  }
  .growthWithUs__info_element_title {
    font-size: 50px;
    line-height: 100%;
  }
  .growthWithUs__info_element_article {
    font-size: 15px;
    line-height: 25px;
  }
  .growthWithUs__info_element:not(:first-child):after {
    bottom: 10px;
    left: -55px;
  }
  .growthWithUs__photo {
    display: flex;
    justify-self: center;
  }
  .growthWithUs__quote_title {
    font-size: 35px;
    line-height: 110%;
    letter-spacing: 0;
  }
  .growthWithUs__quote_article {
    font-size: 15px;
  }
  .benefits {
    margin-top: 130px;
  }
  .benefits__list {
    grid-template-columns: repeat(2, 423px);
    row-gap: 45px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .benefits__list_listEl {
    gap: 45px;
  }
  .benefits__list_listEl .listEl__picture_photo {
    width: 200px;
  }
  .benefits__list_listEl .listEl__pictures_icon {
    width: 45px;
  }
  .benefits__list_listEl .benefits__listEl_info {
    gap: 24px;
  }
  .benefits__list_listEl .benefits__listEl_info .listEl_info_title {
    font-size: 23px;
    line-height: 30px;
    letter-spacing: 0;
  }
  .benefits__list_listEl .benefits__listEl_info .listEl_info_article {
    font-size: 14px;
    line-height: 23px;
  }
  .trandingNews__wrapper_itemWrapper_title {
    font-size: 28px;
  }
  .trandingNews__wrapper_itemWrapper_nav {
    right: 46%;
    bottom: 52%;
  }
  .rewies {
    padding-top: 69px;
    padding-bottom: 160px;
    position: relative;
    flex-direction: column;
  }
  .rewies .rewies__header_title {
    font-size: 46px;
    line-height: 115%;
    letter-spacing: 0;
  }
  .rewies__rewieWrapper {
    width: 720px;
  }
  .rewies__rewieWrapper_rewieText {
    font-size: 32px;
    letter-spacing: 0;
  }
}
@media (max-width: 769px) {
  .prewie {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 56px;
  }
  .prewie__info_redCircle {
    width: 228px;
    height: 228px;
    filter: blur(60px);
    top: 0;
    left: 0;
  }
  .prewie__info_header {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .prewie__info_slogan {
    padding-top: 48px;
    padding-bottom: 40px;
    padding-left: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .prewie__info_slogan::before {
    top: 60px;
    width: 24px;
  }
  .prewie__info_buttonWrapper {
    gap: 8px;
  }
  .prewie__info_buttonWrapper_email {
    padding-right: 110px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .prewie__info_buttonWrapper_button {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 20px;
  }
  .prewie .prewie__graphics_customerGrowth {
    bottom: 180px;
    left: 370px;
  }
  .ourOffers {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .ourOffers__title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .ourOffers__article {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
  }
  .ourOffers__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .ourOffers__list_listElement {
    gap: 16px;
  }
  .ourOffers__list_listElement_icon {
    width: 24px;
    height: 24px;
  }
  .ourOffers__list_listElement_title {
    font-size: 18px;
    line-height: 26px;
  }
  .ourOffers__list_listElement_article {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .advantages {
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 30px;
    gap: 32px;
  }
  .advantages__wrapper_title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .advantages__wrapper_article {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
  }
  .advantages__wrapper_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
  }
  .advantages__wrapper_list .advantages__list_element {
    font-size: 14px;
    line-height: 20px;
  }
  .advantages__wrapper_list .advantages__list_element::before {
    top: 5px;
    left: -40px;
  }
  .advantages .advantages__photoWrapper_barChart {
    width: 177px;
    left: 23%;
    top: 43%;
  }
  .growthWithUs {
    margin-top: 26px;
    margin-bottom: 56px;
  }
  .growthWithUs__info {
    gap: 32px;
  }
  .growthWithUs__info_element_title {
    font-size: 32px;
    line-height: 42px;
  }
  .growthWithUs__info_element_article {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .growthWithUs__info_element:not(:first-child):after {
    bottom: 10px;
    left: -20px;
  }
  .growthWithUs__photo {
    margin-top: 32px;
    margin-bottom: 40px;
    max-width: 335px;
  }
  .growthWithUs__quote {
    gap: 16px;
    flex-direction: column;
  }
  .growthWithUs__quote_title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .growthWithUs__quote_article {
    font-size: 14px;
    line-height: 20px;
  }
  .partners {
    padding-top: 0;
    padding-bottom: 56px;
    flex-direction: column;
    align-items: flex-start;
  }
  .partners.showBorder::before {
    width: 0%;
    height: 0;
  }
  .partners.showBorder::after {
    width: 0%;
    height: 0;
  }
  .partners__info {
    max-width: 323px;
  }
  .partners__info_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }
  .partners__info_article {
    font-size: 14px;
    line-height: 20px;
  }
  .partners__logos {
    gap: 14px;
    grid-template-columns: repeat(2, 125px);
    justify-items: normal;
    align-items: center;
  }
  .partners__logos_logo {
    padding: 25px 16px;
    margin-left: 0;
  }
  .benefits {
    margin-top: 0;
    margin-bottom: 56px;
  }
  .benefits__title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .benefits__article {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
  }
  .benefits__list {
    display: grid;
    grid-template-columns: repeat(1, 335px);
    row-gap: 24px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .benefits__list_listEl {
    gap: 16px;
  }
  .benefits__list_listEl .listEl__picture_photo {
    width: 160px;
  }
  .benefits__list_listEl .listEl__pictures_icon {
    width: 40px;
  }
  .benefits__list_listEl .benefits__listEl_info {
    gap: 8px;
  }
  .benefits__list_listEl .benefits__listEl_info .listEl_info_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .benefits__list_listEl .benefits__listEl_info .listEl_info_article {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .trandingNews {
    padding-top: 0;
    padding-bottom: 39px;
    flex-direction: column;
    align-items: center;
  }
  .trandingNews__title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .trandingNews__article {
    padding-top: 16px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .trandingNews__wrapper {
    gap: 16px;
  }
  .trandingNews__wrapper_itemWrapper_publishData {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
  .trandingNews__wrapper_itemWrapper_publishData_dateOfPublication {
    font-size: 12px;
    line-height: 20px;
  }
  .trandingNews__wrapper_itemWrapper_publishData_author {
    font-size: 12px;
    line-height: 20px;
  }
  .trandingNews__wrapper_itemWrapper_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .trandingNews__wrapper_itemWrapper_nav {
    display: flex;
    justify-content: center;
    right: 47%;
    bottom: 50%;
    padding: 16px 10px;
  }
  .trandingNews__wrapper_itemWrapper_nav_button.left {
    left: 9px;
    top: 6px;
  }
  .trandingNews__wrapper_itemWrapper_nav_button.right {
    left: 27px;
    top: 5px;
  }
  .trandingNews__wrapper_emptyNews {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }
  .trandingNews__wrapper_emptyNews .wrapper__emptyNews_title {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #1D1E25;
  }
  .rewies {
    padding-top: 17px;
    padding-bottom: 80px;
  }
  .rewies__header_article {
    width: 35%;
    font-size: 14px;
    line-height: 20px;
  }
  .rewies__emptyRewies {
    font-weight: 600;
    font-size: 42px;
  }
  .rewies__rewieWrapper {
    padding-left: 32px;
    padding-top: 80px;
    width: 525px;
  }
  .rewies__rewieWrapper .rewies__watermarkWrapper_watermark {
    width: 60px;
    bottom: 0;
    left: -70px;
  }
  .rewies__rewieWrapper_rating {
    font-size: 14px;
    line-height: 20px;
  }
  .rewies__rewieWrapper_rewieText {
    padding-top: 11px;
    padding-bottom: 8px;
    width: 90%;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
  }
  .rewies__rewieWrapper_footer_author {
    gap: 12px;
  }
  .rewies__rewieWrapper_footer_author_authorInfo_name {
    font-size: 14px;
    line-height: 20px;
  }
  .rewies__rewieWrapper_footer_author_authorInfo_position {
    font-size: 12px;
    line-height: 26px;
  }
  .rewies__rewieWrapper_footer_buttonWrapper {
    gap: 8px;
  }
  .rewies__rewieWrapper_footer_buttonWrapper_button {
    padding: 12px;
  }
  .rewies__rewieWrapper_footer_buttonWrapper_button .rewies__button_arrow {
    height: 16px;
    align-self: center;
    width: 16px;
  }
}
@media (max-width: 427px) {
  .prewie .prewie__info_buttonWrapper {
    flex-direction: column;
  }
  .prewie .prewie__graphics {
    align-items: center;
  }
  .prewie .prewie__graphics_customerGrowth {
    width: 118px;
    top: 0;
    left: 80%;
  }
  .growthWithUs__info {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    row-gap: 16px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .growthWithUs__info_element:not(:first-child):after {
    height: 64px;
    bottom: 15px;
    left: -15px;
  }
  .growthWithUs__info_element:nth-child(3)::after {
    content: "";
    height: 0;
  }
  .trandingNews {
    overflow: hidden;
    align-items: normal;
  }
  .trandingNews__wrapper {
    position: relative;
  }
  .trandingNews__wrapper_itemWrapper {
    width: 300px;
  }
  .trandingNews__wrapper_itemWrapper_img {
    width: 300px;
  }
  .trandingNews__wrapper_itemWrapper:nth-child(2) {
    position: absolute;
    left: 90%;
  }
  .trandingNews__wrapper_itemWrapper_nav {
    right: 7%;
    bottom: 54%;
  }
  .trandingNews__wrapper .wrapper__emptyNews_title {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0;
    text-align: center;
  }
  .rewies__header {
    flex-direction: column;
    gap: 16px;
    align-items: normal;
  }
  .rewies__header .rewies__header_title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .rewies__rewieWrapper {
    width: 327px;
  }
  .rewies__rewieWrapper .rewies__watermarkWrapper_watermark {
    width: 32px;
    left: -35px;
  }
}/*# sourceMappingURL=MainPage.css.map */