@keyframes slide-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
        opacity: 1;
    }
}

@keyframes swing-bottom-fwd {
    0% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromLeftToCenter {
    from {
        transform: translateX(-100%);
        opacity: 1;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRightToCenter {
    from {
        transform: translateX(100%);
        opacity: 1;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-left {
    from {
        opacity: 1;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    from {
        opacity: 1;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.prewie {
    overflow: hidden;
    display: flex;
    padding-top: 87px;
    padding-bottom: 137px;
    gap: 20px;

    &__info {
        position: relative;

        &_redCircle {
            position: absolute;
            z-index: -2;
            width: 551px;
            height: 551px;
            background-color: #FA7515;
            border-radius: 100%;
            filter: blur(110px);
            opacity: 13%;
            top: -65px;
            left: -75px;
        }

        &_header {
            opacity: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 120%;
            display: flex;
            align-items: center;
            letter-spacing: -3px;
            color: #1D1E25;

            &.animated {
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
            }
        }

        &_slogan {
            opacity: 0;
            padding-top: 114px;
            padding-bottom: 69px;
            width: 80%;
            padding-left: 100px;
            position: relative;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: -1px;
            color: #1D1E25;

            &.animated {
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 135px;
                height: 1px;
                width: 76px;
                background: currentColor;
            }

        }

        &_buttonWrapper {
            display: flex;
            gap: 16px;
            opacity: 0;

            &.animated {
                animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
            }

            .prewie__info_email {
                padding-right: 118px;
                padding-bottom: 23px;
                border: none;
                border-bottom: 1px solid #CED1D8;
                background: none;
                outline: none;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #7E8492;
            }

            .prewie__info_button {
                cursor: pointer;
                padding: 16px 46px;
                background-color: #1D1E25;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                border-radius: 100px;
            }
        }

    }

    &__graphics {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 29px;
        justify-content: flex-end;

        &_greenCircle {
            position: absolute;
            z-index: -1;
            width: 525px;
            height: 525px;
            left: 24%;
            top: 19%;
            background: rgba(177, 237, 215, 0.8);
            filter: blur(90px);
            border-radius: 100%;
        }

        &_sales {
            opacity: 0;
            box-shadow: 20px 40px 80px rgba(89, 96, 135, 0.12);

            &.animated {
                animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;
            }
        }


        &_customerGrowth {
            opacity: 0;
            position: absolute;
            bottom: 330px;
            left: 320px;
            box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);

            &.animated {
                animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;
            }
        }

        &_statistic {
            opacity: 0;
            box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);

            &.animated {
                animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;
            }
        }
    }
}

.ourOffers {
    background: #1D1E25;
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {
        opacity: 0;
        width: 60%;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -2px;
        color: #FFFFFF;

        &.animated {
            animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__article {
        opacity: 0;
        width: 53%;
        margin-top: 24px;
        margin-bottom: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #7E8492;

        &.animated {
            animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 481px);
        justify-content: space-between;
        gap: 56px;

        &_listElement {
            opacity: 0;
            display: flex;
            gap: 24px;
            flex-direction: column;
            align-items: flex-start;

            &.animated {
                animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--delay, 0s) both;
            }

            &:nth-child(2n).animated {
                animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay, 0s) both;
            }

            .ourOffers__listElement_title {
                width: 51%;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 42px;
                letter-spacing: -1px;
                color: #FFFFFF;
            }

            .ourOffers__listElement_article {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #7E8492;
            }
        }
    }

}

.advantages {
    display: flex;
    padding-top: 160px;
    padding-bottom: 94px;
    gap: 58px;

    &__photoWrapper {
        opacity: 0;
        position: relative;

        &.animated {
            animation: slide-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        &_barChart {
            position: absolute;
            left: 259px;
            top: 313px;
        }
    }

    &__wrapper {
        opacity: 0;

        &.animated {
            animation: swing-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        &_title {
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;
        }

        &_article {
            max-width: 360px;
            margin-top: 24px;
            margin-bottom: 40px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 400px;


            .advantages__list_element {
                opacity: 0;
                list-style: none;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #1D1E25;
                position: relative;
                margin-left: 40px;

                &.animated {
                    animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                }

                &:nth-child(2n).animated {
                    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
            }

            .advantages__list_element::before {
                content: url('../../../../public/availableListMarker.svg');
                margin-right: 16px;
                position: absolute;
                top: 22px;
                left: -40px;

            }
        }
    }
}

.growthWithUs {
    margin-top: 66px;
    margin-bottom: 160px;

    &__info {
        display: flex;
        gap: 143px;

        &_element {
            opacity: 0;
            display: flex;
            gap: 8px;
            flex-direction: column;
            position: relative;

            .growthWithUs__info_title {
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 120%;
                color: #1D1E25;
            }

            .growthWithUs__info_article {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #7E8492;
            }

            &.animated {
                animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--delay, 0s) both;
            }

        }

        &_element:not(:first-child):after {
            content: '';
            position: absolute;
            width: 1px;
            height: 99px;
            background-color: #CED1D8;
            bottom: 30px;
            left: -72px;
        }
    }

    &__photo {
        opacity: 0;
        margin-top: 80px;
        margin-bottom: 80px;

        &.animated {
            animation: fade-in 1.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__quote {
        display: flex;
        gap: 177px;

        &_title {
            opacity: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;

            &.animated {
                animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

            }
        }

        &_article {
            opacity: 0;
            max-width: 420px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;

            &.animated {
                animation: slide-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            }
        }
    }
}

.partners {
    padding-top: 103px;
    padding-bottom: 103px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;

    &.showBorder::before {
        content: '';
        background-color: #EDEDED;
        width: 100%;
        max-width: 1200px;
        height: 1px;
        position: absolute;
        top: 0px;
    }

    &.showBorder::after {
        content: '';
        background-color: #EDEDED;
        width: 100%;
        max-width: 1200px;
        height: 1px;
        position: absolute;
        bottom: 0px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 323px;

        &_title {
            opacity: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;

            &.animated {
                animation: slide-right 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            }
        }

        &_article {
            opacity: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;

            &.animated {
                animation: slide-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--delay, 0s) both;
            }
        }
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(4, 160px);
        justify-items: center;
        column-gap: 30px;
        row-gap: 0;



        &_logo {
            opacity: 0;
            padding: 31px 33px;

            &.animated:nth-child(-n+4) {
                animation: slide-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--delay, 0s) both;

            }

            &.animated {
                animation: slide-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--delay, 0s) both;

            }
        }
    }
}

.benefits {
    margin-top: 160px;
    margin-bottom: 100px;

    &__title {
        opacity: 0;
        max-width: 601px;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -2px;
        color: #1D1E25;

        &.animated {
            animation: slide-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__article {
        opacity: 0;
        margin-top: 24px;
        margin-bottom: 80px;
        max-width: 462px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #7E8492;

        &.animated {
            animation: slide-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 568px);
        row-gap: 56px;
        column-gap: 64px;

        &_listEl {
            opacity: 0;
            display: flex;
            gap: 60px;

            &.animated {
                animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) var(--delay, 0s) both;
            }

            &:nth-child(2n).animated {
                animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay, 0s) both;
            }

            .benefits__listEl_pictures {
                position: relative;

                .listEl__pictures_icon {
                    position: absolute;
                    right: 10px;
                    top: 12px;
                }
            }

            .benefits__listEl_info {

                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 24px;

                .listEl_info_title {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 42px;
                    letter-spacing: -1px;
                    color: #1D1E25;
                }

                .listEl_info_article {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: #7E8492;
                }
            }
        }
    }
}

.trandingNews {
    padding-top: 60px;
    padding-bottom: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        opacity: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -2px;
        color: #1D1E25;

        &.animated {
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    &__article {
        opacity: 0;
        padding-top: 24px;
        padding-bottom: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #7E8492;

        &.animated {
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
        }
    }

    &__wrapper {
        display: flex;
        gap: 32px;
        position: relative;
        overflow: hidden;
        opacity: 0;

        &.animated {
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.1s both;
        }

        &_itemWrapper {
            transition: transform 0.5s ease, opacity 0.5s ease;


            &:first-child {
                display: none;
            }

            &:nth-last-child(2) {
                display: none;
            }

            &.slide-next {
                &.item-1 {
                    animation: slide-out-left 0.5s ease;
                }

                &.item-2 {
                    animation: slideFromRightToCenter 0.5s ease;
                }

                &.item-3 {
                    animation: slideFromRight 0.5s ease;
                }
            }

            &.slide-prev {
                &.item-0 {
                    animation: slideFromLeft 0.5s ease;
                }

                &.item-1 {
                    animation: slideFromLeftToCenter 0.5s ease;
                }

                &.item-2 {
                    animation: slide-out-right 0.5s ease;
                }
            }

            .trandingNews__itemWrapper_publishData {

                padding-top: 16px;
                padding-bottom: 16px;
                display: flex;
                justify-content: space-between;

                .trandingNews__itemWrapper_dateOfPublication {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #7E8492;
                }

                .trandingNews__itemWrapper_author {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    color: #7E8492;
                }

            }

            .trandingNews__itemWrapper_title {
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 150%;
                letter-spacing: -0.02em;
                color: #1D1E25;
            }
        }

        &_nav {
            opacity: 0;
            display: flex;
            position: absolute;
            z-index: 1;
            right: 47%;
            bottom: 55%;
            background-color: #fff;
            padding: 33px 27px;
            border-radius: 100%;

            &.animated {
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.6s both;
            }

            .trandingNews__nav_button {
                position: absolute;
                width: 20px;
                height: 40px;
                background: none;
                border: none;

                &.left {
                    left: 21px;
                    top: 22px;
                }

                &.right {
                    left: 42px;
                    top: 22px;
                }
            }
        }

        &_emptyNews {
            opacity: 0;
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: center;

            &.animated {
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.1s both;
            }

            &.notAnimated {
                opacity: 1;
            }

            .wrapper__emptyNews_title {
                font-style: normal;
                font-weight: 600;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: -2px;
                color: #1D1E25;
            }
        }
    }
}

.rewies {
    padding-top: 69px;
    padding-bottom: 160px;
    position: relative;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {
            opacity: 0;
            width: 40%;
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #101010;

            transform: translateX(-200px);
            transition: all 0.6s ease-out;

            .rewies.loaded & {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &_article {
            opacity: 0;
            width: 30%;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;

            transform: translateX(200px);
            transition: all 0.6s ease-out 0.3s;

            .rewies.loaded & {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &_watermarkWrapper {
            position: relative;
            opacity: 0;

            transform: translateY(-200px);
            transition: all 0.6s ease-out 1s;

            .rewies.loaded & {
                opacity: 1;
                transform: translateY(0);
            }

            .rewies__watermarkWrapper_watermark {
                position: absolute;
                bottom: -200px;
                left: -1200px;
            }
        }
    }

    &__emptyRewies {
        opacity: 0;
        padding-top: 112px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 65px;
        line-height: 120%;
        letter-spacing: -3px;
        color: #1D1E25;

        transform: translateY(-200px);
        transition: all 0.6s ease-out 0.9s;

        .rewies.loaded & {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__rewieWrapper {
        opacity: 0;
        padding-top: 112px;
        max-width: 960px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        overflow: hidden;
        min-height: 300px;

        transform: translateY(-200px);
        transition: all 0.6s ease-out 1s;

        .rewies.loaded & {
            opacity: 1;
            transform: translateY(0);
        }

        &_rewie {
            height: 295px;
            transform: translateX(0);
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        &.slide-out-left &_rewie {
            transform: translateX(-100%);
            opacity: 0;
        }

        &.slide-out-right &_rewie {
            transform: translateX(100%);
            opacity: 0;
        }

        &.slide-in-left &_rewie {
            animation: slideFromLeft 0.5s ease forwards;
        }

        &.slide-in-right &_rewie {
            animation: slideFromRight 0.5s ease forwards;
        }

        &_rating {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #1D1E25;
        }

        &_rewieText {
            padding-top: 16px;
            padding-bottom: 40px;
            width: 90%;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 130%;
            letter-spacing: -1px;
            color: #1D1E25;
        }

        &_footer {
            display: flex;
            justify-content: space-between;

            .rewies__footer_author {

                display: flex;
                gap: 24px;

                .rewies___footer_authorInfo {

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 4px;

                    .rewies__footer_name {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 26px;
                        color: #1D1E25;
                    }

                    .rewies__footer_position {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 26px;
                        color: #7E8492;
                    }
                }
            }

            .rewies__footer_buttonWrapper {
                display: flex;
                gap: 16px;
                padding-right: 5px;

                .rewies__footer_button {
                    padding: 19px 18px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;

                    &.left {
                        background-color: #fff;
                        border: 1px solid #CED1D8;
                    }

                    &.right {
                        background-color: #1D1E25;
                        border: 1px solid #1D1E25;
                    }
                }
            }
        }
    }
}

@media (max-width: 1025px) {

    .prewie {
        padding-top: 70px;
        padding-bottom: 125px;

        &__info {
            &_redCircle {
                width: 450px;
                height: 450px;
            }

            &_header {
                font-weight: 600;
                font-size: 65px;
                line-height: 110%;
            }

            &_slogan {
                padding-top: 90px;
                font-size: 25px;
                line-height: 40px;

                &::before {
                    top: 110px;
                }

            }


            &_buttonWrapper {
                display: flex;
                gap: 16px;

                &_email {
                    padding-right: 90px;
                }

                &_button {
                    padding: 16px 30px;
                }
            }

        }

        .prewie__graphics_greenCircle {

            width: 450px;
            height: 450px;
        }



    }

    .ourOffers {

        &__title {
            font-size: 45px;
        }

        &__article {
            font-size: 15px;
        }

        &__list {
            grid-template-columns: repeat(2, 360px);

            &_listElement {
                display: flex;
                gap: 24px;
                flex-direction: column;
                align-items: flex-start;

                &_title {
                    width: 58%;
                    font-size: 25px;
                    line-height: 35px;
                    letter-spacing: 0;
                }
            }
        }

    }

    .advantages {

        &__photoWrapper {
            &_photo {
                width: 390px;
            }

            &_barChart {
                width: 200px;
                left: 43%;
                top: 34%;
            }
        }
    }

    .growthWithUs {
        margin-bottom: 130px;

        &__info {
            gap: 100px;

            &_element {

                &_title {
                    font-size: 50px;
                    line-height: 100%;
                }

                &_article {
                    font-size: 15px;
                    line-height: 25px;
                }

            }

            &_element:not(:first-child):after {
                bottom: 10px;
                left: -55px;
            }
        }

        &__photo {
            display: flex;
            justify-self: center;
        }

        &__quote {

            &_title {
                font-size: 35px;
                line-height: 110%;
                letter-spacing: 0;
            }

            &_article {
                font-size: 15px;
            }
        }
    }

    .benefits {
        margin-top: 130px;

        &__list {
            grid-template-columns: repeat(2, 423px);
            row-gap: 45px;
            column-gap: 50px;

            &_listEl {
                gap: 45px;

                .listEl__picture_photo {
                    width: 200px;
                }

                .listEl__pictures_icon {
                    width: 45px;
                }


                .benefits__listEl_info {
                    gap: 24px;

                    .listEl_info_title {
                        font-size: 23px;
                        line-height: 30px;
                        letter-spacing: 0;
                    }

                    .listEl_info_article {
                        font-size: 14px;
                        line-height: 23px;
                    }
                }
            }
        }
    }

    .trandingNews {

        &__wrapper {

            &_itemWrapper {

                &_title {
                    font-size: 28px;
                }
            }

            &_nav {
                right: 46%;
                bottom: 55%;
            }
        }
    }

    .rewies {
        padding-top: 69px;
        padding-bottom: 160px;
        position: relative;
        flex-direction: column;

        .rewies__header_title {
            font-size: 46px;
            line-height: 115%;
            letter-spacing: 0;
        }

        .rewies__watermarkWrapper_watermark {
            left: -900px;
        }

        &__rewieWrapper {
            width: 720px;

            &_rewieText {
                font-size: 32px;
                letter-spacing: 0;
            }
        }
    }
}

@media (max-width: 769px) {
    .prewie {
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 56px;

        &__info {

            &_redCircle {
                width: 228px;
                height: 228px;
                filter: blur(60px);
                top: 0;
                left: 0;
            }

            &_header {
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -1px;
            }

            &_slogan {
                padding-top: 48px;
                padding-bottom: 40px;
                padding-left: 32px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;

                &::before {
                    top: 60px;
                    width: 24px;
                }
            }

            &_buttonWrapper {
                gap: 8px;

                .prewie__info_email {
                    padding-right: 110px;
                    padding-bottom: 16px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }

                .prewie__info_button {
                    cursor: pointer;
                    padding: 8px 16px;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        .prewie__graphics_customerGrowth {
            bottom: 180px;
            left: 370px;
        }

    }

    .ourOffers {
        padding-top: 40px;
        padding-bottom: 40px;

        &__title {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0;

        }

        &__article {
            margin-top: 16px;
            margin-bottom: 32px;
            font-size: 14px;
            line-height: 20px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &_listElement {
                gap: 16px;

                .ourOffers__listElement_icon {
                    width: 24px;
                    height: 24px;
                }

                .ourOffers__listElement_title {
                    font-size: 18px;
                    line-height: 26px;
                }

                .ourOffers__listElement_article {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

    }

    .advantages {
        flex-direction: column;
        padding-top: 56px;
        padding-bottom: 30px;
        gap: 32px;

        &__wrapper {

            &_title {
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0;
            }

            &_article {
                margin-top: 16px;
                margin-bottom: 24px;
                font-size: 14px;
                line-height: 20px;
            }


            &_list {
                display: flex;
                flex-direction: column;
                gap: 16px;
                max-width: 400px;


                .advantages__list_element {
                    font-size: 14px;
                    line-height: 20px;

                    &::before {
                        top: 5px;
                        left: -40px;

                    }
                }

            }
        }

        .advantages__photoWrapper_barChart {
            width: 177px;
            left: 23%;
            top: 43%;

        }
    }

    .growthWithUs {
        margin-top: 26px;
        margin-bottom: 56px;

        &__info {
            gap: 32px;

            &_element {

                .growthWithUs__info_title {
                    font-size: 32px;
                    line-height: 42px;
                }

                .growthWithUs__info_article {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }

                &:not(:first-child):after {
                    bottom: 10px;
                    left: -20px;
                }
            }


        }

        &__photo {
            margin-top: 32px;
            margin-bottom: 40px;
            max-width: 335px;
        }

        &__quote {
            gap: 16px;
            flex-direction: column;

            &_title {
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0;
            }

            &_article {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .partners {
        padding-top: 0;
        padding-bottom: 56px;
        flex-direction: column;
        align-items: flex-start;

        &.showBorder::before {
            width: 0%;
            height: 0;
        }

        &.showBorder::after {
            width: 0%;
            height: 0;
        }

        &__info {

            max-width: 323px;

            &_title {
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0;
            }

            &_article {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__logos {
            gap: 14px;
            grid-template-columns: repeat(2, 125px);
            justify-items: normal;
            align-items: center;

            &_logo {
                padding: 25px 16px;
                margin-left: 0;
            }
        }
    }

    .benefits {
        margin-top: 0;
        margin-bottom: 56px;

        &__title {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0;

        }

        &__article {
            margin-top: 16px;
            margin-bottom: 32px;
            font-size: 14px;
            line-height: 20px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(1, 335px);
            row-gap: 24px;
            column-gap: 0;

            &_listEl {
                gap: 16px;

                .listEl__picture_photo {
                    width: 160px;
                }

                .listEl__pictures_icon {
                    width: 40px;
                }

                .benefits__listEl_info {
                    gap: 8px;

                    .listEl_info_title {
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0;
                    }

                    .listEl_info_article {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .trandingNews {
        padding-top: 0;
        padding-bottom: 39px;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0;
        }

        &__article {
            padding-top: 16px;
            padding-bottom: 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        &__wrapper {
            gap: 16px;

            &_itemWrapper {

                .trandingNews__itemWrapper_publishData {

                    padding-top: 16px;
                    padding-bottom: 16px;
                    display: flex;
                    justify-content: space-between;

                    .trandingNews__itemWrapper_dateOfPublication {
                        font-size: 12px;
                        line-height: 20px;
                    }

                    .trandingNews__itemWrapper_author {
                        font-size: 12px;
                        line-height: 20px;
                    }

                }

                .trandingNews__itemWrapper_title {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0;
                }
            }

            &_nav {
                display: flex;
                justify-content: center;
                right: 47%;
                bottom: 50%;
                padding: 16px 10px;

                .trandingNews__nav_button {

                    &.left {
                        left: 9px;
                        top: 6px;
                    }

                    &.right {
                        left: 27px;
                        top: 5px;
                    }
                }
            }

            &_emptyNews {
                display: flex;
                flex-direction: column;
                gap: 35px;
                align-items: center;

                .wrapper__emptyNews_title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 56px;
                    line-height: 120%;
                    letter-spacing: -2px;
                    color: #1D1E25;
                }
            }
        }
    }

    .rewies {
        padding-top: 17px;
        padding-bottom: 80px;

        &__header {

            &_article {
                width: 35%;
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__emptyRewies {
            font-weight: 600;
            font-size: 42px;
        }

        .rewies__watermarkWrapper_watermark {
            width: 60px;
            bottom: -170px;
            left: -600px;
        }

        &__rewieWrapper {
            padding-left: 32px;
            padding-top: 80px;
            width: 525px;

            &_rating {
                font-size: 14px;
                line-height: 20px;
            }

            &_rewieText {
                padding-top: 11px;
                padding-bottom: 8px;
                width: 90%;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 0;
            }

            &_footer {

                .rewies__footer_author {
                    gap: 12px;

                    .rewies___footer_authorInfo {

                        .rewies__footer_name {
                            font-size: 14px;
                            line-height: 20px;
                        }

                        .rewies__footer_position {
                            font-size: 12px;
                            line-height: 26px;
                        }
                    }
                }

                .rewies__footer_buttonWrapper {
                    gap: 8px;

                    .rewies__footer_button {
                        padding: 12px;

                        .rewies__button_arrow {
                            height: 16px;
                            align-self: center;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 427px) {
    .prewie {

        .prewie__info_buttonWrapper {
            flex-direction: column;
        }

        .prewie__graphics {
            align-items: center;

            &_customerGrowth {
                width: 118px;
                top: 0;
                left: 80%;

            }
        }
    }

    .growthWithUs {

        &__info {
            display: grid;
            grid-template-columns: repeat(2, 160px);
            row-gap: 16px;
            column-gap: 32px;

            &_element {

                &:not(:first-child):after {
                    height: 64px;
                    bottom: 15px;
                    left: -15px;
                }

                &:nth-child(3)::after {
                    content: '';
                    height: 0;
                }
            }
        }
    }

    .trandingNews {
        overflow: hidden;
        align-items: normal;

        &__wrapper {
            position: relative;


            &_itemWrapper {
                width: 300px;

                .trandingNews__itemWrapper_img {
                    width: 300px;
                }

                &:nth-child(2) {
                    position: absolute;
                    left: 90%;
                }
            }

            &_nav {
                right: 4%;
                bottom: 54%;
            }

            .wrapper__emptyNews_title {
                font-weight: 500;
                font-size: 28px;
                letter-spacing: 0;
                text-align: center;
            }

        }
    }

    .rewies {

        &__header {
            flex-direction: column;
            gap: 16px;
            align-items: normal;


            .rewies__header_title {
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0;
            }
        }

        .rewies__watermarkWrapper_watermark {
            width: 32px;
            top: 60px;
            left: 0;
        }

        &__rewieWrapper {
            width: 327px;

        }
    }
}