.fullArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 56px;

    &__title {
        padding-top: 80px;
        padding-bottom: 48px;
        max-width: 70%;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -3px;
        color: #1D1E25;
    }

    &__author {
        margin-top: 32px;
        margin-bottom: 24px;
        position: relative;
        display: flex;
        justify-content: space-between;

        .fullArticle__author_name {
            &.avatar {
                position: absolute;
                bottom: 0;
            }

            &.moniker {
                margin-left: 80px;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 26px;
                color: #1D1E25;
            }

            &.jobTitle {
                margin-left: 80px;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #7E8492;
            }
        }

        &_publishDate {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #7E8492;
            align-self: flex-end;
        }
    }

    &__preface {
        margin-top: 80px;
        margin-bottom: 56px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #1D1E25;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #000000;
    }

    &__text {
        margin-top: 24px;
        margin-bottom: 56px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #1D1E25;
    }

    &__noArticle {
        height: 55vh;
        display: flex;
        align-items: center;

        &_title {
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 120%;
            letter-spacing: -3px;
            color: #1D1E25;
        }
    }
}

.author {
    display: flex;
    gap: 48px;
    margin-bottom: 160px;

    &__photo {
        max-height: 200px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &_share {
            display: flex;
            gap: 32px;
            align-items: center;

            .share-icon {
                cursor: pointer;
            }

            .info__share_text {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #1D1E25;
            }
        }

        &_text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #7E8492;
        }

        &_name {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: -1px;
            color: #1D1E25;
        }

        &_description {
            max-width: 68%;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #1D1E25;
        }
    }

    &__noAuthor {
        display: flex;
        align-items: center;

        &_title {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
            color: #1D1E25;
        }
    }
}


@media (max-width: 1025px) {
    .fullArticle {

        &__title {
            padding-top: 32px;
            padding-bottom: 56px;
            font-size: 57px;
        }

        &__photo {
            align-self: center;
        }
    }
}

@media (max-width: 769px) {
    .fullArticle {
        padding-bottom: 32px;

        &__title {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
        }

        &__author {
            margin-top: 0;
            margin-bottom: 8px;
            flex-direction: column;
            justify-content: unset;
            gap: 16px;

            .fullArticle__author_name {
                &.avatar {
                    bottom: 42px;
                }

                &.moniker {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                }

                &.jobTitle {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &_publishDate {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                align-self: normal;
            }
        }

        &__preface {
            margin-top: 32px;
            margin-bottom: 32px;
            font-size: 14px;
            line-height: 20px;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 26px;
        }

        &__text {
            margin-top: 16px;
            margin-bottom: 32px;
            font-size: 14px;
            line-height: 20px;
        }

        .fullArticle__noArticle_title {
            font-weight: 600;
            font-size: 41px;
            line-height: 37px;
            letter-spacing: 0;
        }

    }

    .author {
        gap: 16px;
        margin-bottom: 80px;

        &__info {
            gap: 8px;

            &_share {
                display: grid;
                gap: 8px;
                grid-template-columns: repeat(4, 34px);
                margin-bottom: 48px;


                .info__share_text {
                    grid-column: span 4;
                    justify-self: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &_name {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0;
            }

            &_description {
                max-width: 100%;
                margin-left: -56%;
                margin-top: 6px;
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__noAuthor {
            display: flex;
            align-items: center;

            &_title {
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -1px;
                color: #1D1E25;
            }
        }
    }
}

@media (max-width: 426px) {
    .fullArticle {

        &__author {

            .fullArticle__author_name {
                &.avatar {
                    width: 32px;
                }

                &.moniker {
                    margin-left: 40px;
                }

                &.jobTitle {
                    margin-left: 40px;
                }
            }

        }
    }

    .author__info_share {
        gap: 5px;
    }

    .author__info_description {
        margin-left: -141%;
        max-width: max-content;
    }
}