.audienceAttention {
  padding-top: 105px;
  padding-bottom: 135px;
  display: flex;
  flex-direction: column;
}
.audienceAttention__header {
  max-width: 70%;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #1D1E25;
}
.audienceAttention__article {
  padding-top: 118px;
  max-width: 55%;
  padding-left: 100px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.audienceAttention__article::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 60%;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.audienceAttention__link {
  position: relative;
}
.audienceAttention__link_icon {
  position: absolute;
  left: 85%;
  bottom: 45px;
}

.ourBeliefs {
  padding-bottom: 165px;
  display: flex;
  position: relative;
}
.ourBeliefs__buttonWraper {
  position: relative;
}
.ourBeliefs__buttonWraper_arrows {
  position: absolute;
  z-index: 2;
  top: 21%;
  left: -4px;
}
.ourBeliefs__buttonWraper_button {
  position: absolute;
  width: 20px;
  height: 40px;
  background: none;
  border: none;
}
.ourBeliefs__buttonWraper_button.left {
  z-index: 1;
  height: 100px;
  width: 50px;
  right: -10px;
  top: 92px;
  background-color: #FFFFFF;
  clip-path: ellipse(50px 50% at right center);
}
.ourBeliefs__buttonWraper_button.right {
  z-index: 1;
  height: 100px;
  width: 50px;
  left: 10px;
  top: 92px;
  background-color: #FFFFFF;
  clip-path: ellipse(50px 50% at left center);
}
.ourBeliefs__miniBlog {
  position: relative;
  padding-left: 32px;
}
.ourBeliefs__miniBlog_title {
  padding-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1D1E25;
}
.ourBeliefs__miniBlog_article {
  padding-top: 8px;
  padding-bottom: 32px;
  max-width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.ourBeliefs__miniBlog_button {
  padding: 16px 46px;
  background-color: #1D1E25;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100px;
}
.ourBeliefs__miniBlog_redCircle {
  position: absolute;
  z-index: -2;
  width: 551px;
  height: 551px;
  background-color: #FA7515;
  border-radius: 100%;
  filter: blur(110px);
  opacity: 13%;
  top: 57%;
  right: 100%;
}

.ourSpecialization {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ourSpecialization::before {
  content: "";
  background-color: #EDEDED;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  top: 0px;
}
.ourSpecialization::after {
  content: "";
  background-color: #EDEDED;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  bottom: 0px;
}
.ourSpecialization__title {
  max-width: 40%;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.ourSpecialization__article {
  max-width: 40%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #1D1E25;
}

.ourTeam {
  padding-top: 160px;
  padding-bottom: 165px;
}
.ourTeam__header {
  position: relative;
}
.ourTeam__header_title {
  max-width: 60%;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.ourTeam__header_article {
  padding-top: 24px;
  max-width: 43.5%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.ourTeam__header_greenCircle {
  position: absolute;
  z-index: -2;
  width: 525px;
  height: 525px;
  background-color: rgba(226, 248, 240, 0.7);
  border-radius: 100%;
  filter: blur(90px);
  top: -55%;
  right: 0;
}
.ourTeam__list {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  gap: 32px;
}
.ourTeam__list_buttonWraper {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 29.5%;
  top: 37%;
  background-color: #fff;
  padding: 33px 27px;
  border-radius: 100%;
}
.ourTeam__list_buttonWraper .ourTeam__buttonWraper_button {
  position: absolute;
  width: 20px;
  height: 40px;
  background: none;
  border: none;
}
.ourTeam__list_buttonWraper .ourTeam__buttonWraper_button.left {
  left: 21px;
  top: 22px;
}
.ourTeam__list_buttonWraper .ourTeam__buttonWraper_button.right {
  left: 42px;
  top: 22px;
}
.ourTeam__list .ourTeam__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ourTeam__list .ourTeam__item_personalDate {
  display: flex;
  gap: 51px;
}
.ourTeam__list .ourTeam__item_personalDate .ourTeam__personalDate_name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #1D1E25;
}
.ourTeam__list .ourTeam__item_personalDate .ourTeam__personalDate_jobTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #7E8492;
}
.ourTeam__list .ourTeam__item_personalDate .ourTeam__personalDate_socialMedia {
  display: flex;
  gap: 8px;
}
.ourTeam__footer {
  display: flex;
  gap: 71px;
  position: relative;
}
.ourTeam__footer_title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.ourTeam__footer_article {
  max-width: 42%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.ourTeam__footer_otherOptions {
  position: absolute;
  right: 345px;
  bottom: -10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}/*# sourceMappingURL=AboutPage.css.map */