.audienceAttention {
    padding-top: 105px;
    padding-bottom: 135px;
    display: flex;
    flex-direction: column;

    &__header {
        max-width: 70%;

        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -3px;
        color: #1D1E25;
    }

    &__article {
        padding-top: 118px;
        max-width: 55%;
        padding-left: 100px;
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -1px;
        color: #1D1E25;

        &::before {
            content: "";
            position: absolute;
            left: 10px;
            bottom: 60%;
            height: 1px;
            width: 76px;
            background: currentColor;
        }
    }

    &__link {
        position: relative;

        &_icon {
            position: absolute;
            left: 85%;
            bottom: 45px;
        }
    }
}

.ourBeliefs {
    padding-bottom: 165px;
    display: flex;
    position: relative;


    &__buttonWraper {
        position: relative;

        &_arrows {
            position: absolute;
            z-index: 2;
            top: 21%;
            left: -4px;
        }

        &_button {
            position: absolute;
            width: 20px;
            height: 40px;
            background: none;
            border: none;

            &.left {
                z-index: 1;
                height: 100px;
                width: 50px;
                right: -10px;
                top: 92px;
                background-color: #FFFFFF;
                clip-path: ellipse(50px 50% at right center);
            }

            &.right {
                z-index: 1;
                height: 100px;
                width: 50px;
                left: 10px;
                top: 92px;
                background-color: #FFFFFF;
                clip-path: ellipse(50px 50% at left center);
            }
        }

    }

    &__miniBlog {
        position: relative;
        padding-left: 32px;

        &_title {
            padding-top: 24px;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #1D1E25;
        }

        &_article {
            padding-top: 8px;
            padding-bottom: 32px;
            max-width: 70%;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }

        &_button {
            padding: 16px 46px;
            background-color: #1D1E25;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            border-radius: 100px;
        }

        &_redCircle {
            position: absolute;
            z-index: -2;
            width: 551px;
            height: 551px;
            background-color: #FA7515;
            border-radius: 100%;
            filter: blur(110px);
            opacity: 13%;
            top: 57%;
            right: 100%;
        }
    }


}

.ourSpecialization {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
        content: '';
        background-color: #EDEDED;
        width: 100%;
        max-width: 1200px;
        height: 1px;
        position: absolute;
        top: 0px;
    }

    &::after {
        content: '';
        background-color: #EDEDED;
        width: 100%;
        max-width: 1200px;
        height: 1px;
        position: absolute;
        bottom: 0px;
    }

    &__title {
        max-width: 40%;
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -2px;
        color: #1D1E25;
    }

    &__article {
        max-width: 40%;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #1D1E25;
    }
}

.ourTeam {
    padding-top: 160px;
    padding-bottom: 165px;

    &__header {
        position: relative;

        &_title {
            max-width: 60%;
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;
        }

        &_article {
            padding-top: 24px;
            max-width: 43.5%;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }

        &_greenCircle {
            position: absolute;
            z-index: -2;
            width: 525px;
            height: 525px;
            background-color: rgba(226, 248, 240, 0.7);
            border-radius: 100%;
            filter: blur(90px);
            top: -55%;
            right: 0;
        }

    }

    &__list {
        padding-top: 80px;
        padding-bottom: 100px;
        display: flex;
        position: relative;
        gap: 32px;

        &_buttonWraper {
            position: absolute;
        }

        .ourTeam__item {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &_personalDate {
                display: flex;
                gap: 51px;

                .ourTeam__personalDate_name {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 150%;
                    color: #1D1E25;
                }

                .ourTeam__personalDate_jobTitle {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    color: #7E8492;

                }

                .ourTeam__personalDate_socialMedia {
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }

    &__footer {
        display: flex;
        gap: 71px;
        position: relative;

        &_title {
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;
        }

        &_article {
            max-width: 42%;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }

        &_otherOptions {
            position: absolute;
            right: 345px;
            bottom: -10px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #1D1E25;
        }
    }
}