.blogHeader {
    padding-top: 95px;
    padding-bottom: 128px;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -3px;
        color: #1D1E25;
    }

    &__article {
        position: relative;
        width: 50%;
        padding-left: 100px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -1px;
        color: #1D1E25;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 20px;
            height: 1px;
            width: 76px;
            background: currentColor;
        }
    }

    &__background {

        position: relative;

        &_redCircle {
            position: absolute;
            z-index: -2;
            width: 551px;
            height: 551px;
            background-color: #FA7515;
            border-radius: 100%;
            filter: blur(110px);
            opacity: 13%;
            bottom: -245px;
            left: -85px;
        }

        &_greenCircle {
            position: absolute;
            z-index: -2;
            width: 525px;
            height: 525px;
            background-color: rgba(226, 248, 240, 0.7);
            border-radius: 100%;
            filter: blur(90px);
            top: 0;
            right: 0;
        }
    }
}

.blogsPrewie {
    margin-bottom: 168px;

    &__filters {
        display: flex;
        gap: 16px;
        margin-bottom: 80px;

        &_filter {
            cursor: pointer;
            border: none;
            background: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #7E8492;

            &:first-child {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-decoration-line: underline;
                color: #1D1E25;
            }
        }
    }

    &__blogs {
        overflow: hidden;
        position: relative;
        display: flex;
        gap: 32px;

    }

    &__blog {
        position: relative;
        max-width: 515px;
        display: flex;
        flex-direction: column;
        gap: 16px;


        &_photo {
            max-height: 428px;
            object-fit: cover;
        }

        &_dateOfPublish {
            padding-bottom: 8px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #7E8492;
        }

        &_author {
            position: absolute;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #7E8492;
            right: 0;
            bottom: 23%;
        }

        &_title {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
            color: #1D1E25;
        }

        &_article {
            max-width: 90%;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #7E8492;
        }
    }

    &__buttonWrapper {
        display: flex;
        position: absolute;
        left: 41%;
        bottom: 58%;
        background-color: #fff;
        padding: 33px 27px;
        border-radius: 100%;

        &_button {
            position: absolute;
            width: 20px;
            height: 40px;
            background: none;
            border: none;

            &.left {
                left: 21px;
                top: 22px;
            }

            &.right {
                left: 42px;
                top: 22px;
            }
        }
    }
}

.usefulTips {
    padding-top: 120px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, 584px);
    gap: 32px;
    background-color: #1D1E25;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &:nth-child(1) {
            margin-bottom: -159px;
        }

        &:nth-child(3) {
            align-self: flex-end;
        }

        &_title {
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        &_article {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }
    }


}

.articles {
    padding-top: 160px;
    padding-bottom: 220px;

    &__header {
        position: relative;
        padding-bottom: 80px;

        &_title {
            padding-bottom: 24px;
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;
        }

        &_article {
            max-width: 35%;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }

        &_buttonWrapper {
            position: absolute;
            display: flex;
            gap: 16px;
            right: 0;
            bottom: 50%;

            .articles__buttonWrapper_button {
                padding: 19px 18px;
                border-radius: 100%;
                display: flex;
                justify-content: center;

                &.left {
                    background-color: #fff;
                    border: 1px solid #CED1D8;
                }

                &.right {
                    background-color: #1D1E25;
                    border: 1px solid #1D1E25;
                }
            }
        }
    }

    &__list {
        display: flex;
        gap: 32px;
        list-style: none;

        .list__item_photo {
            max-width: 350px;
        }

        .list__item_title {
            padding-top: 24px;
            padding-bottom: 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 42px;
            letter-spacing: -1px;
            color: #1D1E25;
        }

        .list__item_article {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
            padding-bottom: 24px;
        }

        .list__item_button {
            cursor: pointer;
            padding: 16px 46px;
            border: 1px solid #CED1D8;
            border-radius: 100px;
            background-color: #fff;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #1D1E25;
        }
    }
}

@media (max-width: 1025px) {

    .blogsPrewie__buttonWrapper {
        left: 54%;
    }

    .usefulTips {
        grid-template-columns: repeat(2, 433px);

        &__item {

            &_title {
                font-size: 28px;
            }

            &_article {
                font-size: 16px;
            }

            &:nth-child(1) {
                margin-bottom: -55px;
            }
        }


    }

    .articles {
        padding-top: 110px;
        padding-bottom: 200px;
        overflow: hidden;
    }

}

@media (max-width: 769px) {

    .blogHeader {
        padding-top: 32px;
        padding-bottom: 56px;

        &__title {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
        }

        &__article {
            padding-top: 48px;
            padding-left: 85px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;

            &::before {
                top: 58px;
                width: 65px;
            }
        }

        &__background {

            position: relative;

            &_redCircle {
                width: 228px;
                height: 228px;
                filter: blur(15px);
                bottom: 45px;
                left: -65px;
            }

            &_greenCircle {
                width: 228px;
                height: 228px;
                filter: blur(30px);
                top: -60px;
            }
        }
    }

    .blogsPrewie {
        margin-bottom: 36px;

        &__filters {
            gap: 8px;
            margin-bottom: 32px;

            &_filter {
                font-size: 14px;
                line-height: 20px;

                &:first-child {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        &__blogs {
            gap: 16px;

        }

        &__blog {
            width: 247px;
            gap: 8px;

            &_dateOfPublish {
                display: none;
            }

            &_author {
                display: none;
            }

            &_title {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0;
            }

            &_article {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__buttonWrapper {
            left: 38%;
            padding: 16px 13px;

            &_arrows {
                width: 24px;
            }

            &_button {
                position: absolute;
                width: 20px;
                height: 40px;
                background: none;
                border: none;

                &.left {
                    left: 5px;
                    top: 5px;
                }

                &.right {
                    left: 26px;
                    top: 5px;
                }
            }
        }
    }

    .usefulTips {
        padding-top: 40px;
        padding-bottom: 40px;
        grid-template-columns: repeat(2, 284px);

        &__item {
            gap: 16px;

            &_title {
                font-size: 18px;
                line-height: 26px;
            }

            &_article {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .articles {
        padding-top: 56px;
        padding-bottom: 80px;

        &__header {
            display: flex;
            flex-direction: column;
            padding-bottom: 96px;

            &_title {
                padding-bottom: 16px;
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0;
            }

            &_article {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }

            &_buttonWrapper {
                gap: 12px;
                left: 0;
                bottom: 15%;

                .articles__buttonWrapper_button {
                    padding: 12px;
                }
            }
        }

        &__list {
            gap: 16px;

            .list__item_photo {
                max-width: 350px;
            }

            .list__item_title {
                padding-top: 16px;
                padding-bottom: 8px;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 0;
            }

            .list__item_article {
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 16px;
            }

            .list__item_button {
                padding: 12px 24px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

@media (max-width: 426px) {

    .blogHeader {
        padding-top: 32px;
        padding-bottom: 56px;

        &__title {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
        }

        &__article {
            padding-top: 48px;
            padding-left: 85px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;

            &::before {
                top: 58px;
                width: 65px;
            }
        }

        &__background {

            position: relative;

            &_redCircle {
                width: 228px;
                height: 228px;
                filter: blur(15px);
                bottom: 45px;
                left: -65px;
            }

            &_greenCircle {
                width: 228px;
                height: 228px;
                filter: blur(30px);
                top: -60px;
            }
        }
    }

    .blogsPrewie {

        &__buttonWrapper {
            left: 63%;
        }
    }

    .usefulTips {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
            max-width: 335px;

            &:first-child {
                margin-bottom: 0;
            }

            &:nth-child(3) {
                align-self: auto;
            }
        }
    }

    .articles {

        &__header {

            &_article {
                max-width: 95%;
            }
        }



        .list__item_photo {
            max-width: 260px;
        }

    }
}