@keyframes slide-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromLeftToCenter {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRightToCenter {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.blogHeader {
  padding-top: 95px;
  padding-bottom: 128px;
}
.blogHeader__title {
  opacity: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #1D1E25;
}
.blogHeader__title.animated {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.blogHeader__article {
  opacity: 0;
  position: relative;
  width: 50%;
  padding-left: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.blogHeader__article.animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}
.blogHeader__article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.blogHeader__background {
  position: relative;
}
.blogHeader__background_redCircle {
  position: absolute;
  z-index: -2;
  width: 551px;
  height: 551px;
  background-color: #FA7515;
  border-radius: 100%;
  filter: blur(110px);
  opacity: 13%;
  bottom: -245px;
  left: -85px;
}
.blogHeader__background_greenCircle {
  position: absolute;
  z-index: -2;
  width: 525px;
  height: 525px;
  background-color: rgba(226, 248, 240, 0.7);
  border-radius: 100%;
  filter: blur(90px);
  top: 0;
  right: 0;
}

.blogsPrewie {
  margin-bottom: 168px;
  max-height: 709px;
}
.blogsPrewie__filters {
  display: flex;
  gap: 16px;
  margin-bottom: 80px;
}
.blogsPrewie__filters_filter {
  opacity: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7E8492;
}
.blogsPrewie__filters_filter.animated {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) var(--delay, 0s) both;
}
.blogsPrewie__filters_filter:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #1D1E25;
}
.blogsPrewie__blogs {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 32px;
}
.blogsPrewie__blog {
  max-width: 515px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blogsPrewie__blog.slide-next {
  opacity: 1;
}
.blogsPrewie__blog.slide-next.item-1 {
  animation: slide-out-left 0.5s ease;
}
.blogsPrewie__blog.slide-next.item-2 {
  animation: slideFromRightToCenter 0.5s ease;
}
.blogsPrewie__blog.slide-next.item-3 {
  animation: slideFromRightToCenter 0.5s ease;
}
.blogsPrewie__blog.slide-next.item-4 {
  animation: slideFromRight 0.5s ease;
}
.blogsPrewie__blog.slide-prev {
  opacity: 1;
}
.blogsPrewie__blog.slide-prev.item-0 {
  animation: slideFromLeft 0.5s ease;
}
.blogsPrewie__blog.slide-prev.item-1 {
  animation: slideFromLeftToCenter 0.5s ease;
}
.blogsPrewie__blog.slide-prev.item-2 {
  animation: slideFromLeftToCenter 0.5s ease;
}
.blogsPrewie__blog.slide-prev.item-3 {
  animation: slide-out-right 0.5s ease;
}
.blogsPrewie__blog_photo {
  opacity: 0;
  max-height: 428px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-200px);
  transition: all 1s ease-out 0.4s;
}
.blogsPrewie.loaded .blogsPrewie__blog_photo {
  opacity: 1;
  transform: translateY(0);
}
.blogsPrewie__blog_data {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-200px);
  transition: all 1s ease-out 1.5s;
}
.blogsPrewie.loaded .blogsPrewie__blog_data {
  opacity: 1;
  transform: translateY(0);
}
.blogsPrewie__blog_dateOfPublish {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7E8492;
}
.blogsPrewie__blog_author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7E8492;
}
.blogsPrewie__blog_title {
  opacity: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1D1E25;
  transform: translateY(-200px);
  transition: all 1s ease-out 2.6s;
}
.blogsPrewie.loaded .blogsPrewie__blog_title {
  opacity: 1;
  transform: translateY(0);
}
.blogsPrewie__blog_article {
  opacity: 0;
  max-width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #7E8492;
  transform: translateY(-200px);
  transition: all 1s ease-out 3.7s;
}
.blogsPrewie.loaded .blogsPrewie__blog_article {
  opacity: 1;
  transform: translateY(0);
}
.blogsPrewie__buttonWrapper {
  opacity: 0;
  display: flex;
  position: absolute;
  left: 41%;
  bottom: 58%;
  background-color: #fff;
  padding: 33px 27px;
  border-radius: 100%;
}
.blogsPrewie__buttonWrapper.animated {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 4.8s both;
}
.blogsPrewie__buttonWrapper_button {
  position: absolute;
  width: 20px;
  height: 40px;
  background: none;
  border: none;
}
.blogsPrewie__buttonWrapper_button.left {
  left: 21px;
  top: 22px;
}
.blogsPrewie__buttonWrapper_button.right {
  left: 42px;
  top: 22px;
}

.usefulTips {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(2, 584px);
  gap: 32px;
  background-color: #1D1E25;
}
.usefulTips__item {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.usefulTips__item.animated {
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) var(--delay, 0s) both;
}
.usefulTips__item:nth-child(1) {
  margin-bottom: -159px;
}
.usefulTips__item:nth-child(3) {
  align-self: flex-end;
}
.usefulTips__item_title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #FFFFFF;
  cursor: pointer;
}
.usefulTips__item_title:hover {
  text-decoration: underline;
}
.usefulTips__item_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}

.articles {
  padding-top: 160px;
  padding-bottom: 220px;
}
.articles__header {
  position: relative;
  padding-bottom: 80px;
}
.articles__header_title {
  opacity: 0;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.articles__header_title.animated {
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.articles__header_article {
  opacity: 0;
  max-width: 35%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.articles__header_article.animated {
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.articles__header_buttonWrapper {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 16px;
  right: 0;
  bottom: 50%;
}
.articles__header_buttonWrapper.animated {
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.articles__header_buttonWrapper .articles__buttonWrapper_button {
  padding: 19px 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
.articles__header_buttonWrapper .articles__buttonWrapper_button.left {
  background-color: #fff;
  border: 1px solid #CED1D8;
}
.articles__header_buttonWrapper .articles__buttonWrapper_button.right {
  background-color: #1D1E25;
  border: 1px solid #1D1E25;
}
.articles__list {
  display: flex;
  gap: 32px;
  list-style: none;
}
.articles__list_item {
  opacity: 0;
}
.articles__list_item.animated {
  animation: slide-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) var(--delay, 0s) both;
}
.articles__list_item:first-child {
  display: none;
}
.articles__list_item:last-child {
  display: none;
}
.articles__list_item.animated {
  animation: slide-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) var(--delay, 0s) both;
}
.articles__list_item.slide-next {
  opacity: 1;
}
.articles__list_item.slide-next.item-1 {
  animation: slide-out-left 0.5s ease;
}
.articles__list_item.slide-next.item-2 {
  animation: slideFromRightToCenter 0.5s ease;
}
.articles__list_item.slide-next.item-3 {
  animation: slideFromRightToCenter 0.5s ease;
}
.articles__list_item.slide-next.item-4 {
  animation: slideFromRight 0.5s ease;
}
.articles__list_item.slide-prev {
  opacity: 1;
}
.articles__list_item.slide-prev.item-0 {
  animation: slideFromLeft 0.5s ease;
}
.articles__list_item.slide-prev.item-1 {
  animation: slideFromLeftToCenter 0.5s ease;
}
.articles__list_item.slide-prev.item-2 {
  animation: slideFromLeftToCenter 0.5s ease;
}
.articles__list_item.slide-prev.item-3 {
  animation: slide-out-right 0.5s ease;
}
.articles__list .list__item_photo {
  max-width: 350px;
}
.articles__list .list__item_title {
  padding-top: 24px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.articles__list .list__item_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
  padding-bottom: 24px;
}
.articles__list .list__item_button {
  cursor: pointer;
  padding: 16px 46px;
  border: 1px solid #CED1D8;
  border-radius: 100px;
  background-color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}

@media (max-width: 1025px) {
  .blogsPrewie__buttonWrapper {
    left: 47%;
  }
  .usefulTips {
    grid-template-columns: repeat(2, 433px);
  }
  .usefulTips__item_title {
    font-size: 28px;
  }
  .usefulTips__item_article {
    font-size: 16px;
  }
  .usefulTips__item:nth-child(1) {
    margin-bottom: -55px;
  }
  .articles {
    padding-top: 110px;
    padding-bottom: 200px;
    overflow: hidden;
  }
}
@media (max-width: 769px) {
  .blogHeader {
    padding-top: 32px;
    padding-bottom: 56px;
  }
  .blogHeader__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .blogHeader__article {
    padding-top: 48px;
    padding-left: 85px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .blogHeader__article::before {
    top: 58px;
    width: 65px;
  }
  .blogHeader__background {
    position: relative;
  }
  .blogHeader__background_redCircle {
    width: 228px;
    height: 228px;
    filter: blur(15px);
    bottom: 45px;
    left: -65px;
  }
  .blogHeader__background_greenCircle {
    width: 228px;
    height: 228px;
    filter: blur(30px);
    top: -60px;
  }
  .blogsPrewie {
    margin-bottom: 36px;
  }
  .blogsPrewie__filters {
    gap: 8px;
    margin-bottom: 32px;
  }
  .blogsPrewie__filters_filter {
    font-size: 14px;
    line-height: 20px;
  }
  .blogsPrewie__filters_filter:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .blogsPrewie__blogs {
    gap: 16px;
  }
  .blogsPrewie__blog {
    width: 247px;
    gap: 8px;
  }
  .blogsPrewie__blog_dateOfPublish {
    display: none;
  }
  .blogsPrewie__blog_author {
    display: none;
  }
  .blogsPrewie__blog_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .blogsPrewie__blog_article {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .blogsPrewie__buttonWrapper {
    left: 38%;
    padding: 16px 13px;
  }
  .blogsPrewie__buttonWrapper_arrows {
    width: 24px;
  }
  .blogsPrewie__buttonWrapper_button {
    position: absolute;
    width: 20px;
    height: 40px;
    background: none;
    border: none;
  }
  .blogsPrewie__buttonWrapper_button.left {
    left: 5px;
    top: 5px;
  }
  .blogsPrewie__buttonWrapper_button.right {
    left: 26px;
    top: 5px;
  }
  .usefulTips {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: repeat(2, 284px);
  }
  .usefulTips__item {
    gap: 16px;
  }
  .usefulTips__item_title {
    font-size: 18px;
    line-height: 26px;
  }
  .usefulTips__item_article {
    font-size: 14px;
    line-height: 20px;
  }
  .articles {
    padding-top: 56px;
    padding-bottom: 80px;
  }
  .articles__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
  }
  .articles__header_title {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .articles__header_article {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .articles__header_buttonWrapper {
    gap: 12px;
    left: 0;
    bottom: 15%;
  }
  .articles__header_buttonWrapper .articles__buttonWrapper_button {
    padding: 12px;
  }
  .articles__list {
    gap: 16px;
  }
  .articles__list .list__item_photo {
    max-width: 350px;
  }
  .articles__list .list__item_title {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
  }
  .articles__list .list__item_article {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 16px;
  }
  .articles__list .list__item_button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 426px) {
  .blogHeader {
    padding-top: 32px;
    padding-bottom: 56px;
  }
  .blogHeader__title {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .blogHeader__article {
    padding-top: 48px;
    padding-left: 85px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .blogHeader__article::before {
    top: 58px;
    width: 65px;
  }
  .blogHeader__background {
    position: relative;
  }
  .blogHeader__background_redCircle {
    width: 228px;
    height: 228px;
    filter: blur(15px);
    bottom: 45px;
    left: -65px;
  }
  .blogHeader__background_greenCircle {
    width: 228px;
    height: 228px;
    filter: blur(30px);
    top: -60px;
  }
  .blogsPrewie__buttonWrapper {
    left: 63%;
  }
  .usefulTips {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .usefulTips__item {
    max-width: 335px;
  }
  .usefulTips__item:first-child {
    margin-bottom: 0;
  }
  .usefulTips__item:nth-child(3) {
    align-self: auto;
  }
  .articles__header_article {
    max-width: 95%;
  }
  .articles .list__item_photo {
    max-width: 260px;
  }
}/*# sourceMappingURL=BlogStyle.css.map */