.blogHeader {
  padding-top: 95px;
  padding-bottom: 128px;
}
.blogHeader__title {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #1D1E25;
}
.blogHeader__article {
  position: relative;
  width: 50%;
  padding-left: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.blogHeader__article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.blogHeader__background {
  position: relative;
}
.blogHeader__background_redCircle {
  position: absolute;
  z-index: -2;
  width: 551px;
  height: 551px;
  background-color: #FA7515;
  border-radius: 100%;
  filter: blur(110px);
  opacity: 13%;
  bottom: -245px;
  left: -85px;
}
.blogHeader__background_greenCircle {
  position: absolute;
  z-index: -2;
  width: 525px;
  height: 525px;
  background-color: rgba(226, 248, 240, 0.7);
  border-radius: 100%;
  filter: blur(90px);
  top: 0;
  right: 0;
}

.blogsPrewie {
  margin-bottom: 168px;
}
.blogsPrewie__filters {
  display: flex;
  gap: 16px;
  margin-bottom: 80px;
}
.blogsPrewie__filters_filter {
  cursor: pointer;
  border: none;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7E8492;
}
.blogsPrewie__filters_filter:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #1D1E25;
}
.blogsPrewie__blogs {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 32px;
}
.blogsPrewie__blog {
  position: relative;
  max-width: 515px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.blogsPrewie__blog_photo {
  max-height: 428px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogsPrewie__blog_dateOfPublish {
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7E8492;
}
.blogsPrewie__blog_author {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7E8492;
  right: 0;
  bottom: 23%;
}
.blogsPrewie__blog_title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.blogsPrewie__blog_article {
  max-width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #7E8492;
}
.blogsPrewie__buttonWrapper {
  display: flex;
  position: absolute;
  left: 41%;
  bottom: 58%;
  background-color: #fff;
  padding: 33px 27px;
  border-radius: 100%;
}
.blogsPrewie__buttonWrapper_button {
  position: absolute;
  width: 20px;
  height: 40px;
  background: none;
  border: none;
}
.blogsPrewie__buttonWrapper_button.left {
  left: 21px;
  top: 22px;
}
.blogsPrewie__buttonWrapper_button.right {
  left: 42px;
  top: 22px;
}

.usefulTips {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(2, 584px);
  gap: 32px;
  background-color: #1D1E25;
}
.usefulTips__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.usefulTips__item:nth-child(1) {
  margin-bottom: -159px;
}
.usefulTips__item:nth-child(3) {
  align-self: flex-end;
}
.usefulTips__item_title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #FFFFFF;
  cursor: pointer;
}
.usefulTips__item_title:hover {
  text-decoration: underline;
}
.usefulTips__item_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}

.articles {
  padding-top: 160px;
  padding-bottom: 220px;
}
.articles__header {
  position: relative;
  padding-bottom: 80px;
}
.articles__header_title {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.articles__header_article {
  max-width: 35%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.articles__header_buttonWrapper {
  position: absolute;
  display: flex;
  gap: 16px;
  right: 0;
  bottom: 50%;
}
.articles__header_buttonWrapper .articles__buttonWrapper_button {
  padding: 19px 18px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}
.articles__header_buttonWrapper .articles__buttonWrapper_button.left {
  background-color: #fff;
  border: 1px solid #CED1D8;
}
.articles__header_buttonWrapper .articles__buttonWrapper_button.right {
  background-color: #1D1E25;
  border: 1px solid #1D1E25;
}
.articles__list {
  display: flex;
  gap: 32px;
  list-style: none;
}
.articles__list .list__item_photo {
  max-width: 350px;
}
.articles__list .list__item_title {
  padding-top: 24px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.articles__list .list__item_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
  padding-bottom: 24px;
}
.articles__list .list__item_button {
  cursor: pointer;
  padding: 16px 46px;
  border: 1px solid #CED1D8;
  border-radius: 100px;
  background-color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}/*# sourceMappingURL=BlogStyle.css.map */