.pricingHeader {

    padding-top: 90px;
    padding-bottom: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__background {

        position: relative;

        &_redCircle {
            position: absolute;
            z-index: -2;
            width: 551px;
            height: 551px;
            background-color: #FA7515;
            border-radius: 100%;
            filter: blur(110px);
            opacity: 13%;
            top: -110px;
            right: 45px;
        }

        &_greenCircle {
            position: absolute;
            z-index: -2;
            width: 481px;
            height: 525px;
            background-color: rgba(226, 248, 240, 0.7);
            border-radius: 100%;
            filter: blur(90px);
            top: 85px;
            left: 120px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 144px;
        height: 32px;
        background: rgba(20, 99, 255, 0.1);
        border-radius: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        color: #1463FF;
    }

    &__title {
        padding-top: 24px;
        padding-bottom: 26px;
        max-width: 80%;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: -3px;
        color: #1D1E25;
    }

    &__annual {
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #7E8492;
        gap: 12px;
    }
}

.pricingPlans {
    display: flex;
    gap: 32px;

    &__plan {
        position: relative;
        margin-top: 64px;
        margin-bottom: 78px;
        padding: 40px 24px;
        border: 1px solid #EDEDED;
        border-radius: 16px;

        &_bestOffer {
            position: absolute;
            right: 24px;
            top: 40px;
            display: flex;
            gap: 8px;
            justify-self: end;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            padding: 6px 12px;
            background: #1463FF;
            border-radius: 100px;
        }


        &_title {
            padding-top: 16px;
            padding-bottom: 8px;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            color: #1D1E25;
        }

        &_article {
            padding-bottom: 24px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #7E8492;
        }

        &_price {
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;
        }

        &_perMonth {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #7E8492;
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-top: 24px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #1D1E25;

            .pricingPlans__list_item {
                list-style-type: none;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #1D1E25;
                position: relative;
                margin-left: 32px;

                &::before {
                    content: url('../../../../public/availableListMarker.svg');
                    position: absolute;
                    top: 0;
                    left: -35px;
                }

                &.unavailable {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    text-decoration-line: line-through;
                    color: #7E8492;

                    &::before {
                        content: url('../../../../public/unAvailableListMarker.svg');
                        position: absolute;
                        top: 0;
                        left: -35px;
                    }

                }
            }
        }

        &_button {
            cursor: pointer;
            display: flex;
            justify-self: center;
            margin-top: 40px;
            padding: 10px 30px;
            border: 1px solid #CED1D8;
            background-color: #fff;
            border-radius: 100px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #1D1E25;
        }
    }

    &__plan.popular {
        margin-bottom: 154px;
        margin-top: 0;
        background: #161A34;
        border: 1px solid #1463FF;
        box-shadow: 0px 16px 24px rgba(30, 30, 30, 0.08);

        .pricingPlans__plan_title,
        .pricingPlans__plan_price,
        .pricingPlans__plan_perMonth,
        .pricingPlans__plan_list,
        .pricingPlans__list_item {
            color: #fff;

            &.unavailabl {
                color: #7E8492;
            }
        }

        .pricingPlans__plan_button {
            border: none;
        }
    }
}

.frequantlyQuestions {
    padding-top: 82px;
    padding-bottom: 160px;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding-bottom: 80px;

        &_title {
            font-style: normal;
            font-weight: 600;
            font-size: 56px;
            line-height: 120%;
            letter-spacing: -2px;
            color: #1D1E25;
        }

        &_article {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;
        }
    }

    &__question {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-bottom: 1px solid #EDEDED;
        padding-bottom: 32px;
        margin-bottom: 56px;

        &:last-child {
            margin-bottom: 0;
        }

        &_title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            color: #1D1E25;
        }

        &_article {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
            max-width: 53%;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #7E8492;

            &.open {
                max-height: 500px;
            }
        }

        &_button {
            cursor: pointer;
            position: absolute;
            border: none;
            background: none;
            right: 0;
            top: 5px;
        }
    }
}

@media (max-width: 1025px) {
    .pricingHeader {
        overflow: hidden;

        &__title {
            font-weight: 700;
            font-size: 55px;
            line-height: 74px;
        }
    }

    .pricingPlans {
        gap: 32px;

        &__plan {

            &_article {
                padding-bottom: 14px;
            }

            &_list {
                gap: 10px;
            }
        }
    }

    .frequantlyQuestions {
        padding-top: 40px;
        padding-bottom: 130px;
    }
}

@media (max-width: 769px) {
    .pricingHeader {
        padding-top: 32px;
        padding-bottom: 56px;

        &__background {

            &_redCircle {
                width: 218px;
                height: 218px;
                filter: blur(60px);

            }

            &_greenCircle {
                width: 240px;
                height: 240px;
                filter: blur(60px);

            }
        }

        &__icon {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }

        &__title {
            padding-top: 16px;
            padding-bottom: 16px;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -1px;
        }

        &__annual {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .pricingPlans {
        flex-direction: column;
        align-items: center;

        &__plan {
            max-width: 360px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 24px 20px;

            &_bestOffer {
                top: 30px;
            }

            &_title {
                font-size: 24px;
                line-height: 34px;
            }

            &_article {
                font-size: 14px;
                line-height: 20px;
            }

            &_price {
                font-size: 32px;
                line-height: 42px;
                letter-spacing: -1px;
            }

            &_list {

                .pricingPlans__list_item {
                    font-size: 14px;
                    line-height: 20px;
                    margin-left: 28px;

                    &.unavailable {
                        font-size: 14px;
                    }
                }
            }

            &_button {
                margin-top: 24px;
                padding: 12px 16px;
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__plan.popular {
            margin-bottom: 0;
            box-shadow: none;
        }
    }

    .frequantlyQuestions {
        padding-top: 56px;
        padding-bottom: 80px;

        &__header {
            gap: 16px;
            padding-bottom: 32px;

            &_title {
                font-size: 24px;
                line-height: 34px;
                letter-spacing: 0;
            }

            &_article {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__question {
            padding-bottom: 12px;
            margin-bottom: 24px;

            &_title {
                max-width: 90%;
                font-size: 16px;
                line-height: 24px;
            }

            &_article {
                max-width: 90%;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}