@mixin userForm {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@mixin input ($max-width) {
    width: $max-width;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #EDEDED;

}


@mixin form-label() {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D1E25;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.contactsHeader {
    display: flex;
    gap: 83px;
    padding-top: 90px;
    padding-bottom: 85px;

    &__icon {
        display: flex;
        flex-direction: column;
        gap: 100px;
        max-width: 975px;

        &_title {
            opacity: 0;
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 120%;
            letter-spacing: -3px;
            color: #1D1E25;

            &.animated {
                animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
            }
        }

        &_map {
            opacity: 0;

            &.animated {
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
            }
        }
    }

    &__teamContacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: flex-end;

        .teamContacts__item {
            opacity: 0;
            width: 165px;
            padding-bottom: 14px;
            border-bottom: 1px solid #ACACB9;

            &.animated {
                animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay, 0s) both;
            }

            &_title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #1D1E25;
            }

            &_article {
                padding-top: 8px;
                padding-bottom: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #7E8492;
            }

            &_contactInformation {
                background: none;
                border: none;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #1D1E25;
            }
        }
    }

}

.contactsForm {

    overflow: hidden;

    &__form {
        opacity: 0;
        margin-bottom: 261px;
        max-width: 550px;
        padding: 56px 48px;
        border: 1px solid #EDEDED;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &.animated {
            animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
        }

        .form__header {
            padding-bottom: 24px;
            display: flex;
            gap: 20px;
            flex-direction: column;

            &_title {
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                letter-spacing: -0.02em;
                color: #1D1E25;
            }

            &_article {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #7E8492;
            }
        }

        .form__userData {
            display: flex;
            gap: 32px;
            flex-direction: row;

            &_firstName {
                @include userForm();

                &.label {
                    @include form-label();
                }

                &.input {
                    @include input(226px);
                }
            }

            &_lastName {
                @include userForm();


                &.label {
                    @include form-label();

                }

                &.input {
                    @include input(226px);
                }
            }
        }

        .form__userEmail {
            @include userForm();

            &_label {
                @include form-label();
            }

            &_input {
                @include input(512px)
            }
        }

        .form__userPhoneNumber {
            @include userForm();


            &_label {
                @include form-label();
            }

            .form__userPhoneNumber_inputElements {

                .userPhoneNumber__inputElements_select {
                    outline: none;
                    @include input(70px);
                    border-right: none;
                    border-radius: 8px 0 0 8px;
                    appearance: none;
                    background-image: url(../../../../public/dropDownArrow.svg);
                    background-repeat: no-repeat;
                    background-position: right 9px center;

                    .inputElements__select_option {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: #1D1E25;
                    }
                }

                .userPhoneNumber__inputElements_input {
                    @include input(442px);
                    border-radius: 0 8px 8px 0;
                    border-left: none
                }
            }

        }

        .form__userMessage {
            @include userForm();
            margin-bottom: 6px;

            &_label {
                @include form-label();
            }

            &_textArea {
                @include input(512px);
                height: 134px;
                outline: none;
                resize: none;

                &::placeholder {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #7E8492;
                }
            }

        }

        .form__submitButton {
            padding: 16px 32px;
            background-color: #1D1E25;
            border-radius: 100px;
            max-width: 167px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
        }

    }

    &__wrapper {
        position: relative;

        &_photo {
            opacity: 0;
            position: absolute;
            left: 35%;
            z-index: -1;
            bottom: 170px;

            &.animated {
                animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
            }
        }
    }
}

@media (max-width: 1025px) {
    .contactsForm__wrapper_photo {
        left: 60%;
        bottom: 650px;
    }
}

@media (max-width: 769px) {
    .contactsHeader {
        gap: 59px;
        flex-direction: column;
        padding-top: 34px;
        padding-bottom: 56px;

        &__icon {
            align-self: center;
            gap: 33px;

            &_map {
                align-self: center;
            }

            &_title {
                align-self: center;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -1px;
            }
        }

        &__teamContacts {
            display: grid;
            grid-template-columns: repeat(3, 160px);
            column-gap: 16px;
            row-gap: 24px;
            justify-content: center;

            .teamContacts__item {
                width: 160px;
                padding-bottom: 0;
                border-bottom: none;

                &_title {
                    font-size: 16px;
                    line-height: 24px;
                }

                &_article {
                    padding-top: 8px;
                    padding-bottom: 12px;
                    font-size: 14px;
                    line-height: 20px;
                }

                &_contactInformation {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

    }

    .contactsForm {

        &__form {
            margin-bottom: 80px;
            padding: 24px;

            .form__header {
                gap: 12px;

                &_title {
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0;
                }

                &_article {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .form__submitButton {
                padding: 12px 24px;
                font-size: 14px;
                line-height: 20px;
            }

        }

        .contactsForm__wrapper_photo {
            display: none;
        }
    }
}

@media (max-width: 426px) {
    .contactsHeader {
        &__teamContacts {
            grid-template-columns: repeat(2, 160px);
        }
    }

    .contactsForm {

        .form__userData {
            flex-direction: column;

            &_firstName {

                &.input {
                    width: 288px;
                }
            }

            &_lastName {


                &.input {
                    width: 288px;
                }
            }
        }

        .form__userEmail_input {
            width: 288px;
        }

        .form__userPhoneNumber {

            .form__userPhoneNumber_inputElements {

                .userPhoneNumber__inputElements_select {
                    border-right: none;
                    width: 63px;
                }

                .userPhoneNumber__inputElements_input {
                    border-left: none;
                    width: 218px
                }
            }
        }

        .form__userMessage_textArea {
            width: 288px;
        }
    }
}