input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.contactsHeader {
  display: flex;
  gap: 83px;
  padding-top: 90px;
  padding-bottom: 85px;
}
.contactsHeader__icon {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 975px;
}
.contactsHeader__icon_title {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #1D1E25;
}
.contactsHeader__teamContacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-end;
}
.contactsHeader__teamContacts .teamContacts__item {
  width: 165px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ACACB9;
}
.contactsHeader__teamContacts .teamContacts__item_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1D1E25;
}
.contactsHeader__teamContacts .teamContacts__item_article {
  padding-top: 8px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7E8492;
}
.contactsHeader__teamContacts .teamContacts__item_contactInformation {
  background: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}

.contactsForm__form {
  margin-bottom: 261px;
  max-width: 550px;
  padding: 56px 48px;
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contactsForm__form .form__header {
  padding-bottom: 24px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contactsForm__form .form__header_title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #1D1E25;
}
.contactsForm__form .form__header_article {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7E8492;
}
.contactsForm__form .form__userData {
  display: flex;
  gap: 32px;
  flex-direction: row;
}
.contactsForm__form .form__userData_firstName {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userData_firstName.label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userData_firstName.input {
  width: 240px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
}
.contactsForm__form .form__userData_lastName {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userData_lastName.label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userData_lastName.input {
  width: 240px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
}
.contactsForm__form .form__userEmail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userEmail_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userEmail_input {
  width: 512px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
}
.contactsForm__form .form__userPhoneNumber {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userPhoneNumber_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_select {
  outline: none;
  width: 70px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  border-right: none;
  border-radius: 8px 0 0 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../../../../public/dropDownArrow.svg);
  background-repeat: no-repeat;
  background-position: right 9px center;
}
.contactsForm__form .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_select .inputElements__select_option {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1D1E25;
}
.contactsForm__form .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_input {
  width: 442px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  border-radius: 0 8px 8px 0;
  border-left: none;
}
.contactsForm__form .form__userMessage {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 6px;
}
.contactsForm__form .form__userMessage_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userMessage_textArea {
  width: 512px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  height: 134px;
  outline: none;
  resize: none;
}
.contactsForm__form .form__userMessage_textArea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7E8492;
}
.contactsForm__form .form__userMessage_textArea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7E8492;
}
.contactsForm__form .form__submitButton {
  padding: 16px 32px;
  background-color: #1D1E25;
  border-radius: 100px;
  max-width: 167px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.contactsForm__wrapper {
  position: relative;
}
.contactsForm__wrapper_photo {
  position: absolute;
  left: 35%;
  z-index: -1;
  bottom: 170px;
}/*# sourceMappingURL=ContactsStyles.css.map */