.contactsHeader {
    display: flex;
    gap: 83px;
    padding-top: 90px;
    padding-bottom: 85px;

    &__icon {
        display: flex;
        flex-direction: column;
        gap: 100px;

        &_title {
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 120%;
            letter-spacing: -3px;
            color: #1D1E25;
        }
    }

    &__teamContacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: flex-end;

        .teamContacts__item {
            padding-bottom: 14px;
            border-bottom: 1px solid #ACACB9;

            &_title {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                color: #1D1E25;
            }

            &_article {
                padding-top: 8px;
                padding-bottom: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #7E8492;
            }

            &_contactInformation {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #1D1E25;
            }
        }
    }

}