@keyframes slide-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.contactsHeader {
  display: flex;
  gap: 83px;
  padding-top: 90px;
  padding-bottom: 85px;
}
.contactsHeader__icon {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 975px;
}
.contactsHeader__icon_title {
  opacity: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -3px;
  color: #1D1E25;
}
.contactsHeader__icon_title.animated {
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}
.contactsHeader__icon_map {
  opacity: 0;
}
.contactsHeader__icon_map.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}
.contactsHeader__teamContacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-end;
}
.contactsHeader__teamContacts .teamContacts__item {
  opacity: 0;
  width: 165px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ACACB9;
}
.contactsHeader__teamContacts .teamContacts__item.animated {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) var(--delay, 0s) both;
}
.contactsHeader__teamContacts .teamContacts__item_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1D1E25;
}
.contactsHeader__teamContacts .teamContacts__item_article {
  padding-top: 8px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7E8492;
}
.contactsHeader__teamContacts .teamContacts__item_contactInformation {
  background: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}

.contactsForm {
  overflow: hidden;
}
.contactsForm__form {
  opacity: 0;
  margin-bottom: 261px;
  max-width: 550px;
  padding: 56px 48px;
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contactsForm__form.animated {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
.contactsForm__form .form__header {
  padding-bottom: 24px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contactsForm__form .form__header_title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #1D1E25;
}
.contactsForm__form .form__header_article {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #7E8492;
}
.contactsForm__form .form__userData {
  display: flex;
  gap: 32px;
  flex-direction: row;
}
.contactsForm__form .form__userData_firstName {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userData_firstName.label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userData_firstName.input {
  width: 226px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
}
.contactsForm__form .form__userData_lastName {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userData_lastName.label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userData_lastName.input {
  width: 226px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
}
.contactsForm__form .form__userEmail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userEmail_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userEmail_input {
  width: 512px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
}
.contactsForm__form .form__userPhoneNumber {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.contactsForm__form .form__userPhoneNumber_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_select {
  outline: none;
  width: 70px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  border-right: none;
  border-radius: 8px 0 0 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../../../../public/dropDownArrow.svg);
  background-repeat: no-repeat;
  background-position: right 9px center;
}
.contactsForm__form .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_select .inputElements__select_option {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1D1E25;
}
.contactsForm__form .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_input {
  width: 442px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  border-radius: 0 8px 8px 0;
  border-left: none;
}
.contactsForm__form .form__userMessage {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 6px;
}
.contactsForm__form .form__userMessage_label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
}
.contactsForm__form .form__userMessage_textArea {
  width: 512px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  height: 134px;
  outline: none;
  resize: none;
}
.contactsForm__form .form__userMessage_textArea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7E8492;
}
.contactsForm__form .form__userMessage_textArea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7E8492;
}
.contactsForm__form .form__submitButton {
  padding: 16px 32px;
  background-color: #1D1E25;
  border-radius: 100px;
  max-width: 167px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.contactsForm__wrapper {
  position: relative;
}
.contactsForm__wrapper_photo {
  opacity: 0;
  position: absolute;
  left: 35%;
  z-index: -1;
  bottom: 170px;
}
.contactsForm__wrapper_photo.animated {
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@media (max-width: 1025px) {
  .contactsForm__wrapper_photo {
    left: 60%;
    bottom: 650px;
  }
}
@media (max-width: 769px) {
  .contactsHeader {
    gap: 59px;
    flex-direction: column;
    padding-top: 34px;
    padding-bottom: 56px;
  }
  .contactsHeader__icon {
    align-self: center;
    gap: 33px;
  }
  .contactsHeader__icon_map {
    align-self: center;
  }
  .contactsHeader__icon_title {
    align-self: center;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .contactsHeader__teamContacts {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 24px;
    justify-content: center;
  }
  .contactsHeader__teamContacts .teamContacts__item {
    width: 160px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .contactsHeader__teamContacts .teamContacts__item_title {
    font-size: 16px;
    line-height: 24px;
  }
  .contactsHeader__teamContacts .teamContacts__item_article {
    padding-top: 8px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .contactsHeader__teamContacts .teamContacts__item_contactInformation {
    font-size: 14px;
    line-height: 20px;
  }
  .contactsForm__form {
    margin-bottom: 80px;
    padding: 24px;
  }
  .contactsForm__form .form__header {
    gap: 12px;
  }
  .contactsForm__form .form__header_title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
  }
  .contactsForm__form .form__header_article {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .contactsForm__form .form__submitButton {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 20px;
  }
  .contactsForm .contactsForm__wrapper_photo {
    display: none;
  }
}
@media (max-width: 426px) {
  .contactsHeader__teamContacts {
    grid-template-columns: repeat(2, 160px);
  }
  .contactsForm .form__userData {
    flex-direction: column;
  }
  .contactsForm .form__userData_firstName.input {
    width: 288px;
  }
  .contactsForm .form__userData_lastName.input {
    width: 288px;
  }
  .contactsForm .form__userEmail_input {
    width: 288px;
  }
  .contactsForm .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_select {
    border-right: none;
    width: 63px;
  }
  .contactsForm .form__userPhoneNumber .form__userPhoneNumber_inputElements .userPhoneNumber__inputElements_input {
    border-left: none;
    width: 218px;
  }
  .contactsForm .form__userMessage_textArea {
    width: 288px;
  }
}/*# sourceMappingURL=ContactsStyles.css.map */