@keyframes fadeInOut {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 1;
    top: 20px;
  }
  90% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(100px);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-100px);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

input {
  outline: none;
}

.no-animations * {
  animation: none !important;
  transition: none !important;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.success {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.emptyField {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35a03;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.wrongPhonenumber {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35a03;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.wrongEmail {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35a03;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.loading {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #117ef3;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.requestError {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ec1607;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.header {
  margin-top: 25px;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  opacity: 0;
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__logo.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.header__nav {
  opacity: 0;
  display: inherit;
  gap: 32px;
  position: relative;
}
.header__nav.animated {
  animation: slide-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.header__nav_menu {
  position: relative;
}
.header__nav_hiddenWrapper {
  width: 105px;
  left: -23px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  border: 1px solid black;
  background-color: #eff1f5;
}
.header__nav_hiddenWrapper.close {
  opacity: 0;
}
.header__nav_link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}
.header__nav_link:last-child {
  margin-left: 34px;
  border-bottom: 1px solid black;
}

.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer__backround {
  position: absolute;
  z-index: -1;
}
.footer__backround_redCircle {
  position: absolute;
  z-index: -2;
  width: 551px;
  height: 551px;
  background-color: #FA7515;
  border-radius: 100%;
  filter: blur(110px);
  opacity: 13%;
  top: 3px;
  left: 67px;
}
.footer__backround_greenCircle {
  position: absolute;
  z-index: -1;
  width: 525px;
  height: 525px;
  left: 1053px;
  top: 205px;
  background: rgba(177, 237, 215, 0.8);
  filter: blur(90px);
  border-radius: 100%;
}
.footer__backround.dark {
  visibility: hidden;
}
.footer__dark {
  background: #1D1E25;
}
.footer__head {
  display: flex;
  flex-direction: column;
  margin-top: 181px;
  margin-bottom: 52px;
}
.footer__head_title {
  opacity: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #FFFFFF;
}
.footer__head_title.animated {
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.footer__head_button {
  opacity: 0;
  align-self: flex-end;
  max-width: 177px;
  border-radius: 100px;
  padding: 10px 32px;
  background-color: #fff;
}
.footer__head_button.animated {
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s both;
}
.footer__head_button_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}
.footer__head_article {
  opacity: 0;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #AFB3BB;
  width: 45%;
}
.footer__head_article.animated {
  animation: slide-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
}
.footer__head.light .footer__head_title {
  color: #1D1E25;
}
.footer__head.light .footer__head_button {
  background-color: #1D1E25;
}
.footer__head.light .footer__head_button_text {
  color: #FFFFFF;
}
.footer__head.light .footer__head_article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.footer__head.light .footer__head_article {
  padding-left: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1D1E25;
}
.footer__logoAndNavWrapper {
  display: flex;
  margin-top: 76px;
}
.footer__logo {
  margin-right: 144px;
}
.footer__logo_title {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}
.footer__logo_title.animated {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.footer__logo_descr {
  opacity: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}
.footer__logo_descr.animated {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s both;
}
.footer__logo.dark .footer__logo_title {
  color: #FFFFFF;
}
.footer__logo.dark .footer__logo_descr {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}
.footer__nav {
  display: flex;
  gap: 93px;
}
.footer__nav_company, .footer__nav_discover, .footer__nav_product, .footer__nav_helpCenter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__nav_title {
  opacity: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}
.footer__nav_title.animated {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.3s both;
}
.footer__nav_link {
  opacity: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}
.footer__nav_link.animated {
  animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s both;
}
.footer__nav.dark .footer__nav_title {
  color: #FFFFFF;
}
.footer__nav.dark .footer__nav_link {
  color: #7E8492;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid #CED1D8;
  margin-top: 79px;
  margin-bottom: 59px;
  padding-top: 40px;
}
.footer__bottom_socialMedia {
  display: flex;
  gap: 24px;
}
.footer__bottom_legal {
  display: flex;
  gap: 40px;
  padding-left: 72px;
}
.footer__bottom_legal_link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer__bottom_copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #AFB3BB;
}
.footer__bottom.dark {
  justify-content: unset;
}
.footer__bottom.dark .footer__bottom_copyright {
  padding-left: 352px;
}

@media (max-width: 1025px) {
  img {
    max-width: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .center {
    padding-left: calc(50% - 450px);
    padding-right: calc(50% - 450px);
  }
  .footer__backround_redCircle {
    top: -40px;
    left: 10px;
  }
  .footer__backround_greenCircle {
    left: 650px;
    top: 250px;
  }
  .footer__head {
    margin-top: 130px;
  }
  .footer__nav {
    gap: 55px;
  }
  .footer__bottom.dark .footer__bottom_copyright {
    padding-left: 32px;
  }
}
@media (max-width: 769px) {
  img {
    max-width: 335px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
  }
  .header {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .header .header__nav_link:last-child {
    margin-left: 0;
  }
  .footer__backround_redCircle {
    width: 221px;
    height: 221px;
    top: -25px;
    left: -55px;
    filter: blur(60px);
  }
  .footer__backround_greenCircle {
    width: 293px;
    height: 293px;
    left: 195px;
    top: 251px;
  }
  .footer__head {
    gap: 24px;
    margin-top: 51px;
    margin-bottom: 56px;
  }
  .footer__head_title {
    font-size: 24px;
    line-height: 34px;
  }
  .footer__head_button {
    margin-left: 43px;
    align-self: normal;
    order: 1;
    padding: 12px 24px;
  }
  .footer__head_button_text {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__head_article {
    position: relative;
    padding-left: 52px;
    width: 80%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .footer__head.dark .footer__head_article::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 34px;
    width: 35px;
    height: 1px;
    background-color: currentColor;
  }
  .footer__head.light .footer__head_article::before {
    left: 0;
    top: 12px;
    width: 35px;
  }
  .footer__head.light .footer__head_article {
    padding-left: 43px;
    font-size: 16px;
    line-height: 24px;
  }
  .footer__logoAndNavWrapper {
    margin-top: 0;
  }
  .footer__logo {
    margin-right: 0;
    padding-bottom: 56px;
  }
  .footer__logo_title {
    gap: 8px;
    margin-bottom: 9px;
  }
  .footer__logo_descr {
    font-size: 14px;
    line-height: 20px;
    color: #7E8492;
  }
  .footer__logo.dark .footer__logo_descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7E8492;
  }
  .footer__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 40px;
  }
  .footer__bottom_legal {
    gap: 24px;
    padding-left: 0;
  }
  .footer__bottom_legal .footer__bottom_link {
    font-size: 14px;
    line-height: 20px;
    color: #7E8492;
  }
  .footer__bottom_copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #7E8492;
  }
  .footer__bottom.dark {
    justify-content: unset;
  }
  .footer__bottom.dark .footer__bottom_copyright {
    padding-left: 0;
  }
}
@media (max-width: 427px) {
  img {
    max-width: 335px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .header {
    margin-top: 24px;
    margin-bottom: 0;
  }
  .header__nav_hiddenWrapper {
    left: -75px;
  }
}
@media (max-width: 376px) {
  .header__nav_hiddenWrapper {
    left: -100px;
  }
}/*# sourceMappingURL=App.css.map */