@keyframes fadeInOut {
    0% {
        opacity: 0;
        top: 0;
    }

    10% {
        opacity: 1;
        top: 20px;
    }

    90% {
        opacity: 1;
        top: 20px;
    }

    100% {
        opacity: 0;
        top: 0;
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 1;
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
}

input {
    outline: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.success {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

.emptyField {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d35a03;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

.wrongPhonenumber {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d35a03;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

.wrongEmail {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d35a03;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

.loading {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #117ef3;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

.requestError {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ec1607;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

.header {
    margin-top: 25px;
    margin-bottom: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        opacity: 0;
        display: flex;
        gap: 12px;
        align-items: center;

        &.animated {
            animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    &__nav {
        opacity: 0;
        display: inherit;
        gap: 32px;
        position: relative;

        &.animated {
            animation: slide-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }

        &_menu {
            position: relative;
        }

        &_hiddenWrapper {
            width: 105px;
            left: -23px;
            margin-top: 30px;
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: column;
            padding: 10px 12px;
            border: 1px solid black;
            background-color: #eff1f5;

            &.close {
                opacity: 0;
            }
        }

        &_link {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #1D1E25;
        }

        &_link:last-child {
            margin-left: 34px;
            border-bottom: 1px solid black;
        }
    }


}

.footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    &__backround {

        position: absolute;
        z-index: -1;

        &_redCircle {
            position: absolute;
            z-index: -2;
            width: 551px;
            height: 551px;
            background-color: #FA7515;
            border-radius: 100%;
            filter: blur(110px);
            opacity: 13%;
            top: 3px;
            left: 67px;
        }

        &_greenCircle {
            position: absolute;
            z-index: -1;
            width: 525px;
            height: 525px;
            left: 1053px;
            top: 205px;
            background: rgba(177, 237, 215, 0.8);
            filter: blur(90px);
            border-radius: 100%;

        }

        &.dark {
            visibility: hidden;
        }

    }



    &__dark {
        background: #1D1E25;
    }

    &__head {

        display: flex;
        flex-direction: column;
        margin-top: 181px;
        margin-bottom: 52px;

        &_title {
            opacity: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 120%;
            color: #FFFFFF;

            &.animated {
                animation: slide-right 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
        }

        &_button {
            opacity: 0;
            align-self: flex-end;
            max-width: 177px;
            border-radius: 100px;
            padding: 10px 32px;
            background-color: #fff;

            &.animated {
                animation: slide-right 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.1s both;
            }

            &_text {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #1D1E25;
            }

        }

        &_article {
            opacity: 0;
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #AFB3BB;
            width: 45%;

            &.animated {
                animation: slide-right 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
            }
        }

        &.light .footer__head_title {
            color: #1D1E25;
        }


        &.light .footer__head_button {
            background-color: #1D1E25;

            &_text {
                color: #FFFFFF;
            }
        }

        &.light .footer__head_article::before {
            content: "";
            position: absolute;
            left: 0;
            top: 20px;
            height: 1px;
            width: 76px;
            background: currentColor;
        }

        &.light .footer__head_article {
            padding-left: 100px;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            color: #1D1E25;

        }

    }



    &__logoAndNavWrapper {
        display: flex;
        margin-top: 76px;
    }


    &__logo {
        margin-right: 144px;


        &_title {
            opacity: 0;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 19px;

            &.animated {
                animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.3s both;
            }
        }

        &_descr {
            opacity: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #1D1E25;

            &.animated {
                animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
            }
        }

        &.dark .footer__logo_title {
            color: #FFFFFF;
        }

        &.dark .footer__logo_descr {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #7E8492;
        }
    }

    &__nav {
        display: flex;
        gap: 93px;

        &_company,
        &_discover,
        &_product,
        &_helpCenter {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &_title {
            opacity: 0;
            margin-bottom: 8px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #1D1E25;

            &.animated {
                animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.3s both;

            }

        }

        &_link {
            opacity: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #1D1E25;

            &.animated {
                animation: slide-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
            }
        }

        &.dark .footer__nav_title {
            color: #FFFFFF;
        }

        &.dark .footer__nav_link {
            color: #7E8492;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        border-top: 1px solid #CED1D8;
        margin-top: 79px;
        margin-bottom: 59px;
        padding-top: 40px;

        &_socialMedia {
            display: flex;
            gap: 24px;
        }

        &_legal {

            display: flex;
            gap: 40px;
            padding-left: 72px;

            &_link {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
            }
        }

        &_copyright {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #AFB3BB;
        }

        &.dark {
            justify-content: unset;
        }

        &.dark .footer__bottom_copyright {
            padding-left: 352px;
        }
    }
}

@media (max-width: 1025px) {

    img {
        max-width: 450px;
        object-fit: cover;
    }

    .center {
        padding-left: calc(50% - 450px);
        padding-right: calc(50% - 450px);
    }

    .footer__backround_redCircle {
        top: -40px;
        left: 10px;
    }

    .footer__backround_greenCircle {
        left: 650px;
        top: 250px;
    }

    .footer__head {
        margin-top: 130px;
    }

    .footer__nav {
        gap: 55px;
    }

    .footer__bottom.dark .footer__bottom_copyright {
        padding-left: 32px;
    }
}

@media (max-width: 769px) {

    img {
        max-width: 335px;
        object-fit: cover;
    }

    .center {
        padding-left: calc(50% - 300px);
        padding-right: calc(50% - 300px);
    }

    .header {
        margin-top: 24px;
        margin-bottom: 0;

        .header__nav_link:last-child {
            margin-left: 0;
        }
    }

    .footer {

        &__backround {
            &_redCircle {
                width: 221px;
                height: 221px;
                top: -25px;
                left: -55px;
                filter: blur(60px);
            }

            &_greenCircle {
                width: 293px;
                height: 293px;
                left: 195px;
                top: 251px;
            }

        }

        &__head {
            gap: 24px;
            margin-top: 51px;
            margin-bottom: 56px;

            &_title {
                font-size: 24px;
                line-height: 34px;
            }

            &_button {
                margin-left: 43px;
                align-self: normal;
                order: 1;
                padding: 12px 24px;

                &_text {
                    font-size: 14px;
                    line-height: 20px;
                }

            }

            &_article {
                position: relative;
                padding-left: 52px;
                width: 80%;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }

            &.dark .footer__head_article::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 34px;
                width: 35px;
                height: 1px;
                background-color: currentColor;
            }

            &.light .footer__head_article::before {
                left: 0;
                top: 12px;
                width: 35px;
            }

            &.light .footer__head_article {
                padding-left: 43px;
                font-size: 16px;
                line-height: 24px;
            }

        }

        &__logoAndNavWrapper {
            margin-top: 0;
        }


        &__logo {
            margin-right: 0;
            padding-bottom: 56px;

            &_title {
                gap: 8px;
                margin-bottom: 9px;
            }

            &_descr {
                font-size: 14px;
                line-height: 20px;
                color: #7E8492;
            }

            &.dark .footer__logo_descr {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #7E8492;
            }
        }

        &__bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 24px;
            margin-top: 0;
            margin-bottom: 30px;
            padding-top: 40px;

            &_legal {
                gap: 24px;
                padding-left: 0;

                .footer__bottom_link {
                    font-size: 14px;
                    line-height: 20px;
                    color: #7E8492;
                }
            }

            &_copyright {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #7E8492;
            }

            &.dark {
                justify-content: unset;
            }

            &.dark .footer__bottom_copyright {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 427px) {

    img {
        max-width: 335px;
        object-fit: cover;
    }

    .center {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .header {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .header__nav_hiddenWrapper {
        left: -75px;
    }
}

@media (max-width: 376px) {

    .header__nav_hiddenWrapper {
        left: -100px;
    }
}