* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  margin-top: 25px;
  margin-bottom: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header__nav {
  display: inherit;
  gap: 32px;
}
.header__nav_link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}
.header__nav_link:last-child {
  margin-left: 34px;
  border-bottom: 1px solid black;
}

.main__prewie {
  display: flex;
  padding-top: 87px;
  padding-bottom: 137px;
  gap: 20px;
}
.main__prewie_info {
  position: relative;
  max-width: 617px;
}
.main__prewie_info_redCircle {
  position: absolute;
  z-index: -2;
  width: 551px;
  height: 551px;
  background-color: #FA7515;
  border-radius: 100%;
  filter: blur(110px);
  opacity: 13%;
  top: -65px;
  left: -75px;
}
.main__prewie_info_header {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: -3px;
  color: #1D1E25;
}
.main__prewie_info_slogan {
  padding-top: 114px;
  padding-bottom: 69px;
  width: 80%;
  padding-left: 100px;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.main__prewie_info_slogan::before {
  content: "";
  position: absolute;
  left: 0;
  top: 135px;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.main__prewie_info_buttonWrapper {
  display: flex;
  gap: 16px;
}
.main__prewie_info_buttonWrapper_email {
  padding-right: 118px;
  padding-bottom: 23px;
  border: none;
  border-bottom: 1px solid #CED1D8;
  background: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7E8492;
}
.main__prewie_info_buttonWrapper_button {
  padding: 16px 46px;
  background-color: #1D1E25;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100px;
}
.main__prewie_graphics {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 29px;
  justify-content: flex-end;
}
.main__prewie_graphics_greenCircle {
  position: absolute;
  z-index: -2;
  left: -66px;
  top: -62px;
}
.main__prewie_graphics_sales {
  box-shadow: 20px 40px 80px rgba(89, 96, 135, 0.12);
}
.main__prewie_graphics_customerGrowth {
  position: absolute;
  bottom: 330px;
  left: 320px;
  box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);
}
.main__prewie_graphics_statistic {
  box-shadow: 20px 40px 80px rgba(45, 51, 81, 0.12);
}
.main__ourOffers {
  background: #1D1E25;
  padding-top: 100px;
  padding-bottom: 100px;
}
.main__ourOffers_title {
  width: 60%;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #FFFFFF;
}
.main__ourOffers_article {
  width: 53%;
  margin-top: 24px;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #7E8492;
}
.main__ourOffers_list {
  display: grid;
  grid-template-columns: repeat(2, 481px);
  justify-content: space-between;
  gap: 56px;
}
.main__ourOffers_list_listElement {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.main__ourOffers_list_listElement_title {
  width: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #FFFFFF;
}
.main__ourOffers_list_listElement_article {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}
.main__advantages {
  display: flex;
  padding-top: 160px;
  padding-bottom: 94px;
  gap: 58px;
}
.main__advantages_photoWrapper {
  position: relative;
}
.main__advantages_photoWrapper_barChart {
  position: absolute;
  left: 259px;
  top: 313px;
}
.main__advantages_wrapper_title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.main__advantages_wrapper_article {
  max-width: 360px;
  margin-top: 24px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.main__advantages_wrapper_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 400px;
}
.main__advantages_wrapper_list_element {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #1D1E25;
  position: relative;
  margin-left: 40px;
}
.main__advantages_wrapper_list_element::before {
  content: url("../public/listMarker.svg");
  margin-right: 16px;
  position: absolute;
  top: 22px;
  left: -40px;
}
.main__growthWithUs {
  margin-top: 66px;
  margin-bottom: 160px;
}
.main__growthWithUs_info {
  display: flex;
  gap: 143px;
}
.main__growthWithUs_info_element {
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: relative;
}
.main__growthWithUs_info_element_title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #1D1E25;
}
.main__growthWithUs_info_element_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.main__growthWithUs_info_element:not(:first-child):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 99px;
  background-color: #CED1D8;
  bottom: 30px;
  left: -72px;
}
.main__growthWithUs_photo {
  margin-top: 80px;
  margin-bottom: 80px;
}
.main__growthWithUs_quote {
  display: flex;
  gap: 177px;
}
.main__growthWithUs_quote_title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.main__growthWithUs_quote_article {
  max-width: 420px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.main__partners {
  padding-top: 103px;
  padding-bottom: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__partners::before {
  content: "";
  background-color: #EDEDED;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  top: 0px;
}
.main__partners::after {
  content: "";
  background-color: #EDEDED;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  position: absolute;
  bottom: 0px;
}
.main__partners_info {
  display: flex;
  flex-direction: column;
  max-width: 323px;
}
.main__partners_info_title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.main__partners_info_article {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.main__partners_logos {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  justify-items: center;
}
.main__partners_logos_logo {
  padding: 31px 33px;
  margin-left: 30px;
}
.main__benefits {
  margin-top: 160px;
  margin-bottom: 100px;
}
.main__benefits_title {
  max-width: 601px;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #1D1E25;
}
.main__benefits_article {
  margin-top: 24px;
  margin-bottom: 80px;
  max-width: 462px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7E8492;
}
.main__benefits_list {
  display: grid;
  grid-template-columns: repeat(2, 568px);
  row-gap: 56px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.main__benefits_list_listEl {
  display: flex;
  gap: 60px;
}
.main__benefits_list_listEl_pictures {
  position: relative;
}
.main__benefits_list_listEl_pictures_icon {
  position: absolute;
  right: 10px;
  top: 12px;
}
.main__benefits_list_listEl_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.main__benefits_list_listEl_info_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #1D1E25;
}
.main__benefits_list_listEl_info_article {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer__backround {
  position: absolute;
  z-index: -1;
}
.footer__backround_greenCircle {
  position: inherit;
  z-index: -1;
  margin-left: calc(50% - 600px);
  left: 86.5%;
  top: 0;
}
.footer__backround.dark {
  visibility: hidden;
}
.footer__dark {
  background: #1D1E25;
}
.footer__head {
  display: flex;
  flex-direction: column;
  margin-top: 181px;
  margin-bottom: 52px;
}
.footer__head_title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #FFFFFF;
}
.footer__head_button {
  align-self: flex-end;
  max-width: 177px;
  border-radius: 100px;
  padding: 10px 32px;
  background-color: #fff;
}
.footer__head_button_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}
.footer__head_article {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #AFB3BB;
  width: 45%;
}
.footer__head.light .footer__head_title {
  color: #1D1E25;
}
.footer__head.light .footer__head_button {
  background-color: #1D1E25;
}
.footer__head.light .footer__head_button_text {
  color: #FFFFFF;
}
.footer__head.light .footer__head_article::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  height: 1px;
  width: 76px;
  background: currentColor;
}
.footer__head.light .footer__head_article {
  padding-left: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #1D1E25;
}
.footer__logoAndNavWrapper {
  display: flex;
  margin-top: 76px;
}
.footer__logo {
  flex: 1 min-content;
  display: flex;
  flex-direction: column;
  margin-right: 144px;
}
.footer__logo_title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}
.footer__logo_descr {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1D1E25;
}
.footer__logo.dark .footer__logo_title {
  color: #FFFFFF;
}
.footer__logo.dark .footer__logo_descr {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7E8492;
}
.footer__nav {
  display: flex;
  gap: 93px;
}
.footer__nav_company, .footer__nav_discover, .footer__nav_product, .footer__nav_helpCenter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__nav_title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}
.footer__nav_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D1E25;
}
.footer__nav.dark .footer__nav_title {
  color: #FFFFFF;
}
.footer__nav.dark .footer__nav_link {
  color: #7E8492;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid #CED1D8;
  margin-top: 79px;
  margin-bottom: 59px;
  padding-top: 40px;
}
.footer__bottom_socialMedia {
  display: flex;
  gap: 24px;
}
.footer__bottom_legal {
  display: flex;
  gap: 40px;
  padding-left: 72px;
}
.footer__bottom_legal_link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer__bottom_copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #AFB3BB;
}
.footer__bottom.dark {
  justify-content: unset;
}
.footer__bottom.dark .footer__bottom_copyright {
  padding-left: 352px;
}/*# sourceMappingURL=App.css.map */